<fl-dialog-header>
  {{title | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="server-info-form" [formGroup]="formGp">

    <!--  Name  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'name' | translate}}</mat-label>
      <input matInput formControlName="name" required flInputMaxLength="50"
             placeholder="{{'name' | translate}}">
    </mat-form-field>


    <!--  Virtual host  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'virtual_host' | translate}}</mat-label>
      <input matInput formControlName="virtualHost" required flInputMaxLength="255"
             placeholder="{{'virtual_host' | translate}}">
      <mat-error *ngIf="formGp.get('virtualHost').hasError('required')">
        {{'virtual_host' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Server info  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'server_info' | translate}}</mat-label>
      <mat-select placeholder="{{'server_info' | translate}}" formControlName="serverInfo">
        <ca-select-server-info-options></ca-select-server-info-options>
      </mat-select>
      <mat-error *ngIf="formGp.get('serverInfo').hasError('required')">
        {{'server_info' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Owner  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'owner' | translate}}</mat-label>
      <mat-select placeholder="{{'owner' | translate}}" formControlName="owner" required>
        <ca-select-user-options></ca-select-user-options>
      </mat-select>
      <mat-error *ngIf="formGp.get('owner').hasError('required')">
        {{'owner' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Glab Api key  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'glab_api_key' | translate}}</mat-label>
      <input matInput formControlName="glabApiKey" flInputMaxLength="255"
             placeholder="{{'glab_api_key' | translate}}">
    </mat-form-field>

    <!--  Lab manager Api key  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'lab_manager_api_key' | translate}}</mat-label>
      <input matInput formControlName="labManagerApiKey" flInputMaxLength="255"
             placeholder="{{'lab_manager_api_key' | translate}}">
    </mat-form-field>

    <!--  Codelab token  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'codelab_token' | translate}}</mat-label>
      <input matInput formControlName="codelabToken" flInputMaxLength="255"
             placeholder="{{'codelab_token' | translate}}">
    </mat-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="server-info-form"
          class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
