
.part{
  margin-bottom: 0.75em;
}


.part-section{
  word-break: break-word;
  width: 10em;
}

.verb{
  text-align: center;
}

.object{
  text-align: right;
}

.divider{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
