<div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <fl-text-icon>
      <mat-icon class="g-icon-big" svgIcon="lab"></mat-icon>
      <h1>{{labInstance.name}}</h1>
    </fl-text-icon>

    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button type="button" (click)="openLabNameUpdate()"
              [matTooltip]="'update_lab_name' | translate" class="g-button-action">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="openStatusHistoryDialog()"
              [matTooltip]="'status_history' | translate" class="g-button-action">
        <mat-icon>history</mat-icon>
      </button>

      <fl-status-chip [status]="labInstance.currentStatus.status"
                      class="g-text-big">
      </fl-status-chip>
    </div>
  </div>

  <fl-card>

    <fl-card-body>

      <!--   Lab url   -->
      <fl-text-icon iconPosition="end">
        <fl-key-value>
          <fl-key>{{'url' | translate}}</fl-key>
          <a [href]="labInstance.frontUrl" target="_blank" class="g-text-link"
             [matTooltip]="'open_lab_in_new_tab' | translate">
            {{labInstance.frontUrl}}
          </a>
        </fl-key-value>
      </fl-text-icon>

      <!--  Lab Type    -->
      <fl-key-value>
        <fl-key>{{'lab_type' | translate}}</fl-key>
        {{labInstance.lab.label}}</fl-key-value>
    </fl-card-body>

    <fl-card-footer layoutGap="0.5em">
      <a *ngIf="labInstance.isRunning()" routerLink="view" mat-flat-button
         color="primary">
        {{'go_to_lab' | translate}}
        <mat-icon>arrow_forward_ios</mat-icon>
      </a>

      <ca-lab-instance-start-stop [labInstance]="labInstance" (update)="onLabUpdate($event)"
                                  class="g-button-action">
      </ca-lab-instance-start-stop>

      <button mat-button type="button" color="primary" disabled
              class="button">
        <mat-icon svgIcon="share_arrow"></mat-icon>
        <span>{{'share' | translate}}</span>
      </button>

    </fl-card-footer>
  </fl-card>
</div>
