<fl-card class="g-full-height" *ngIf="labInstance$ | async as labInstance">

  <fl-card-body>

    <!--   Lab url   -->
    <fl-text-icon iconPosition="start">
      <mat-icon>link</mat-icon>
      <fl-key-value>
        <fl-key>{{'url' | translate}}</fl-key>
        <a [href]="labInstance.frontUrl" target="_blank" class="g-text-link"
           [matTooltip]="'open_lab_in_new_tab' | translate">
          {{labInstance.frontUrl}}
        </a>
      </fl-key-value>
    </fl-text-icon>


    <fl-text-icon iconPosition="start">
      <mat-icon>location_on</mat-icon>
      <fl-key-value class="key-val-inline">
        <fl-key class="key">{{'region' | translate}}</fl-key>
        <ca-lab-instance-city [city]="labInstance.city" class="city"></ca-lab-instance-city>
      </fl-key-value>
    </fl-text-icon>

  </fl-card-body>

  <fl-card-footer layoutGap="0.5em">
    <ca-lab-login-button *ngIf="labInstance.isRunning()"
                         [labInstanceId]="labInstance.id">
    </ca-lab-login-button>

    <ca-lab-instance-start-stop [labInstance]="labInstance" (update)="onLabUpdate($event)"
                                class="g-button-action">
    </ca-lab-instance-start-stop>

    <button mat-stroked-button type="button" (click)="openCodelabInfo(labInstance)"
            class="g-button-small">
      <mat-icon flIcon="code"></mat-icon>
      {{'codelab_info' | translate}}
    </button>


  </fl-card-footer>
</fl-card>
