.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.sidenav-content {
  height: 100%;
}

.sidenav {
  min-width: 20em;
  height: 100%;
}

.sidenav-title{
  padding-top: 10px;
  padding-left: 15px;
  border-bottom: #6c6c6c solid 1px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.sidenav-div-redirect-admin{
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
}

.element{
  width: 100%;
}

.item{
  box-sizing: border-box;
  width: 100%;
}

.item:hover{
  color: #018989;
}

.active{
  color: #018989;
}

.tree{
  border-bottom: #6c6c6c solid 1px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
