.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.sidenav-content {
  height: 100%;
}

.sidenav {
  min-width: 15em;
  padding-top: 20px;
}

.sidenav-title{
  margin-left: 7%;
}

.sidenav-element {
  font-size: 20px;
}

.sidenav-div-redirect-admin{
  position: absolute;
  bottom: 2em;
  text-align: center;
  width: 100%;
}

.sidenav-bt-redirect-admin{

}
