:host {
  display: flex;
}

.icon {
  border-radius: 2px;
  padding-left: 1px;
  padding-right: 1px;
}

.parent{
  background-color: var(--accent-color);
}

.leaf{
  background-color: var(--warn-color);
}
