
.left-section{
  border-right: 1px solid var(--grey-low-contrast);
  width: 15em;
}

.right-section{
  width: calc(100% - 15em);
  box-sizing: border-box;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.card{
  display: block;
  width: 100%;
}
