:host {
  display: flex;
  width: 100%;
}

.section {
  max-height: 100%;
}


.divider{
  background-color: var(--grey-low-contrast);
  width: 1px;
  height: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.button{
  margin-bottom: 0.3em;
  width: 100%;
  text-transform: initial;
}

.right-section {
  padding-bottom: 1em;
}

// Use to set panel text in red when the config of the transformer is invalid
.transform-panel.ng-invalid.ng-touched {
  .transform-name {
    color: var(--warn-color);
  }
}
