@import '~@angular/material/theming';
@import "../mixin-style";

/**
 * It apply the theme in parameter and define global css variable for theme
  This mixin must be call only once
 */
@mixin _global-theme-style($mat-theme) {
  $primary: map-get($mat-theme, primary);
  $accent: map-get($mat-theme, accent);
  $warn: map-get($mat-theme, warn);
  $foreground: map-get($mat-theme, foreground);
  $background: map-get($mat-theme, background);
  $foreground-color: mat-color($foreground, text);
  $background-color: mat-color($background, background);
  $divider: mat-color($foreground, dividers);

  // define the material theme
  @include angular-material-theme($mat-theme);

  body {
    background-color: $background-color;
    color: $foreground-color;
  }

  /**
   Text with the colors of the palettes
   */
  .g-primary-text {
    color: mat-color($primary);
  }

  .g-accent-text {
    color: mat-color($accent);
  }

  .g-warn-text {
    color: mat-color($warn);
  }

  /**
   Background color based on the theme and set the text color
   */
  .g-primary-background {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .g-accent-background {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }

  .g-warn-background {
    background-color: mat-color($warn);
    color: mat-color($warn, default-contrast);
  }

  /**
    Contrast text for palette. The best color (white or black) depending on the background
   */
  .g-primary-contrast {
    color: mat-color($primary, default-contrast);
  }

  .g-accent-contrast {
    color: mat-color($accent, default-contrast);
  }

  .g-warn-contrast {
    color: mat-color($warn, default-contrast);
  }

  /**
    Text with other primary colors
   */
  .g-primary-text-extra-light {
    color: mat-color($primary, 50);
  }

  .g-primary-text-light {
    color: mat-color($primary, 200);
  }

  .g-primary-text-dark {
    color: mat-color($primary, 600);
  }

  .g-primary-text-extra-dark {
    color: mat-color($primary, 800);
  }


  /**
   Background color based on the theme and set the text color
   */
  .g-primary-background-extra-light {
    background-color: mat-color($primary, 50);
    color: mat-color($primary, default-contrast, 50);
  }

  .g-primary-background-light {
    background-color: mat-color($primary, 200);
    color: mat-color($primary, default-contrast, 200);
  }

  .g-primary-background-dark {
    background-color: mat-color($primary, 600);
    color: mat-color($primary, default-contrast, 600);
  }

  .g-primary-background-extra-dark {
    background-color: mat-color($primary, 800);
    color: mat-color($primary, default-contrast, 800);
  }


  /**
    Contrast border for palette. The best color (white or black) depending on the background
   */
  .g-primary-border-contrast {
    border-color: mat-color($primary, default-contrast);
  }

  .g-accent-border-contrast {
    color: mat-color($accent, default-contrast);
  }

  .g-warn-border-contrast {
    color: mat-color($warn, default-contrast);
  }

  /**
   * Define colors in the same color as background theme for text, background and border
   */
  .g-theme-text {
    color: $background-color;
  }

  .g-theme-background {
    background-color: $background-color;
  }

  .g-theme-border {
    border-color: $background-color;
  }


  /**
   * Define colors in the same color as text theme for text, background and border
   */
  .g-opposite-text {
    border-color: $foreground-color;
  }

  .g-opposite-background {
    border-color: $foreground-color;
  }

  .g-opposite-border {
    border-color: $foreground-color;
  }


  //////////////// OTHER /////////////////////
  .g-card-background {
    background-color: mat-color($background, card);
  }

  // grey color working for both theme
  .g-grey-background {
    background-color: grey;
    color: white;
  }

  .g-grey-text {
    background-color: grey;
  }

  //////////////////////////// QUILL ////////////////////////////////////

  // set quill editor in red when the editor is invalid
  .core-form-field-invalid .ql-toolbar,
  .core-form-field-invalid .ql-container {
    border-color: mat-color($warn) !important;
  }

  .ql-toolbar,
  .ql-container {
    border-color: $divider !important;
  }

  // quill overrides
  // Quill dark theme
  .ql-snow .ql-stroke {
    stroke: $foreground-color !important;
  }

  .ql-snow .ql-stroke-miter {
    stroke: $foreground-color !important;
  }

  .ql-snow .ql-fill,
  .ql-snow .ql-stroke.ql-fill {
    fill: $foreground-color !important;
  }

  .ql-snow .ql-picker {
    color: $foreground-color !important;
  }

  .ql-snow .ql-tooltip {
    color: $foreground-color !important;
  }

  .ql-snow.ql-toolbar button:hover,
  .ql-snow .ql-toolbar button:hover,
  .ql-snow.ql-toolbar button:focus,
  .ql-snow .ql-toolbar button:focus,
  .ql-snow.ql-toolbar button.ql-active,
  .ql-snow .ql-toolbar button.ql-active,
  .ql-snow.ql-toolbar .ql-picker-label:hover,
  .ql-snow .ql-toolbar .ql-picker-label:hover,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active,
  .ql-snow.ql-toolbar .ql-picker-item:hover,
  .ql-snow .ql-toolbar .ql-picker-item:hover,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: mat-color($primary) !important;
  }
  .ql-snow.ql-toolbar button:hover .ql-fill,
  .ql-snow .ql-toolbar button:hover .ql-fill,
  .ql-snow.ql-toolbar button:focus .ql-fill,
  .ql-snow .ql-toolbar button:focus .ql-fill,
  .ql-snow.ql-toolbar button.ql-active .ql-fill,
  .ql-snow .ql-toolbar button.ql-active .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
  .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: mat-color($primary) !important;
  }
  .ql-snow.ql-toolbar button:hover .ql-stroke,
  .ql-snow .ql-toolbar button:hover .ql-stroke,
  .ql-snow.ql-toolbar button:focus .ql-stroke,
  .ql-snow .ql-toolbar button:focus .ql-stroke,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: mat-color($primary) !important;
  }

  .ql-snow .ql-picker-options {
    background-color: $background-color !important;
  }

  .ql-snow .ql-color-picker.ql-background .ql-picker-item {
    background-color: $background-color !important;
  }

  .ql-snow .ql-tooltip {
    background-color: $background-color !important;
  }

  //////////////////////////// JSON editor ////////////////////////////////////
  // set json editor in red when the editor is invalid
  .core-form-field-invalid .jsoneditor,
  .core-form-field-invalid .jsoneditor-menu {
    border-color: mat-color($warn) !important;
  }

  .jsoneditor {
    border-color: $divider !important;
  }
  .jsoneditor-menu {
    background-color: transparent !important;
    border-color: $divider !important;
  }

  .jsoneditor-menu button {
    background-color: #424242 !important;
    cursor: pointer;
  }

  .jsoneditor-menu button:disabled {
    cursor: initial;
    // make the disable button the same size as enable button with border
    border: 1px solid transparent !important;
  }

  // make the undo and redo button more visible in disable mode
  .jsoneditor-menu > button.jsoneditor-undo:disabled {
    background-position: -24px -96px !important;
  }
  .jsoneditor-menu > button.jsoneditor-redo:disabled {
    background-position: -48px -96px !important;
  }

  //// cursor color
  .ace-jsoneditor .ace_cursor {
    border-left: 1px solid $foreground-color;
  }

  // text
  .ace-jsoneditor .ace_variable {
    color: $foreground-color;
  }

  .jsoneditor-statusbar {
    border-top: 1px solid $divider !important;
  }

  .ace-jsoneditor .ace_string {
    color: $color-success !important;
  }
}

