.container {
  height: 100vh;
}

.help-card{
  width: 50em;
  margin: auto;
}

.form-cards{
  margin-top: 5em;
}

.logo{
  width: 10em;
}

.feat{
  font-size: 10em;
}

.help-text{
  margin-top: 0.5em;
}
