<div class="g-page">

  <ca-project-breadcrumb objectType="project" [objectId$]="projectId$"></ca-project-breadcrumb>

  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="1em" class="main-container">

    <div fxFlex="50%" fxLayout="column">
      <ca-project-detail></ca-project-detail>

      <ca-experiments-list [experiments$]="experiment$" class="g-section"></ca-experiments-list>

      <ca-reports-list [reports$]="reports$" class="g-section"></ca-reports-list>

      <ca-project-children class="g-section" [projectId$]="projectId$"
                           *ngIf="showChildren$ | async"></ca-project-children>
    </div>

    <div fxFlex="50%">
      <fl-card class="g-full g-full-height">
        <fl-card-body>
          <ca-project-detail-right-panel></ca-project-detail-right-panel>
        </fl-card-body>
      </fl-card>
    </div>

  </div>

  <!--  <fl-section [isLoading]="isLoading" [object]="project">-->

  <!--    <ng-template flSectionBody>-->


  <!--      <div class="list" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="2em">-->
  <!--        -->
  <!--      </div>-->

  <!--      <ca-project-children class="g-section" [projectId$]="projectId$"-->
  <!--                           *ngIf="project.hasChildren()"></ca-project-children>-->

  <!--    </ng-template>-->
  <!--  </fl-section>&lt;!&ndash;&ndash;&gt;-->
</div>
