:host{
  height: 100vh;
  display: block;
  box-sizing: border-box;
}

.main-container{
  height: 100%;
}

.left-section{
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  height: 100%;
}

.right-section{
  background-color: var(--card-background);
  height: 100%;
}
