<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="1em" class="main-container">

  <div fxFlex="50%" fxLayout="column">
    <ca-project-detail></ca-project-detail>

    <ng-container *ngIf="showObjects$ | async">
      <ca-reports-list [reports$]="reports$" class="g-section" [rowSelectable]="true"
                       (reportSelected)="selectReport($event)"></ca-reports-list>

      <ca-experiments-list [experiments$]="experiment$" class="g-section"
                           [rowSelectable]="true"
                           (experimentSelected)="selectExperiment($event)"></ca-experiments-list>
    </ng-container>

    <ca-project-children class="g-section" [projectId$]="projectId$"
                         *ngIf="showChildren$ | async"></ca-project-children>
  </div>

  <div fxFlex="50%">
    <fl-card class="g-full g-full-height">
      <fl-card-body>
        <ca-project-detail-right-panel></ca-project-detail-right-panel>
      </fl-card-body>
    </fl-card>
  </div>

</div>

