.container {
  position: fixed;
  left: 0;
  top: 9.65em;
  width: 100%;
  height: calc(100% - 9.65em - 55px);
  background-color: var(--main-background);
  flex-direction: row;
  display: flex;
}

.sidenav-content {
  height: 100%;
  flex: auto;
  // POUR LA POP UP DU TEXT EDITOR
  min-width: 0;
  overflow: initial;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.sidenav {
  min-height: 100%;
  height: auto;
  width: 20rem;
  min-width: 20rem;
  padding-right: 1em;
  max-width: 25rem  ;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
}

@media (max-width: 959px) {
  .sidenav-content{
    z-index: 1;
  }
}

.sidenav-empty-space{
  flex: auto;
  width: 100%;
}

.tree{
  width: 100%;
  height: auto;
}

.item{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.link-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: auto;
}

.drag-drop-bt{
  cursor: grab;
}

.draggable-element{
  background-color: inherit;
}

.line{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line-mat{
  width: 100%;
  display: flex !important;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
  height: 100%;
}

.line-text{
  flex: auto;
}

.line-icons{
  width: 3em;
  display: flex;
  flex-direction: row-reverse;
  font-size: 10px;
  align-items: center;
}

.placeholder-level{
  max-width: 100%;
}

.bt-add-doc{
  width: 50%;
  margin: 1em 25%;
  font-size: 0.8em;
}

.small-screen-title{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  height: 3em;
}

.bt-open-side-nav{
  font-size: 2.5em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  padding-right: 0.2em;
}

.input-tech-doc{
  padding-bottom: 0!important;
  margin-bottom: 0;
  margin-top: 0.5em;
  width: 100%;
}

.router{
  height: 100%;
}
