<mat-drawer-container class="container" [hasBackdrop]="isSmallScreen" (backdropClick)="closeSideNav()">
  <mat-drawer #drawer class="g-full-height g-styled-scrollbar" [mode]="isSmallScreen ? 'over' : 'side'"
              [opened]="!isSmallScreen || sideNavIsOpen">
    <div class="sidenav">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree item g-full-height g-drag-anim-order"
                cdkDropList (cdkDropListDropped)="drop($event)">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" cdkDrag
                       [cdkDragDisabled]="(isAdmin | async) === false || node.name == null"
                       class="draggable-element g-drag-hide-placeholder" [cdkDragData]="node">
          <mat-nav-list class="line" *ngIf="node.id != null"
                        (mouseenter)="hoverId=node.id" (mouseleave)="hoverId=null">
            <a (click)="closeSideNav()" [routerLink]="node.completePath"
               [relativeTo]="activatedRoute" [routerLinkActive]="'active'" class="item" draggable="false">

              <mat-list-item class="item" matLine matTreeNodePadding matTreeNodePaddingIndent="15px">

                <span class="link-item"

                   [ngStyle]="{'font-size': node.level > 0 ? '12px' : '14px'}">
                  {{node.name}}
                </span>
                <div class="line-icons" *ngIf="(isAdmin | async) && hoverId===node.id">
                  <button type="button" mat-icon-button matTooltip="{{'drag_and_drop_to_move' | translate}}"
                          class="g-button-icon-small">
                    <mat-icon cdkDragHandle class="drag-drop-bt">
                      drag_handle
                    </mat-icon>
                  </button>
                  <button type="button" mat-icon-button class="g-button-icon-small">
                    <mat-icon (click)="onClickMenu($event, false, false, node.id)">
                      more_vert
                    </mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </a>
          </mat-nav-list>
        </mat-tree-node>


        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" cdkDrag [cdkDragData]="node"
                       [cdkDragDisabled]="(isAdmin | async) === false"
                       class="draggable-element g-drag-hide-placeholder">
          <mat-nav-list class="nav-list line">
            <mat-list-item class="item" matTreeNodePadding matTreeNodePaddingIndent="15px"
                           [ngStyle]="{'font-size': node.level > 0 ? '12px' : '14px'}"
                           (click)="expansionModel.toggle(node)" matTreeNodeToggle (mouseenter)="hoverId=node.id"
                           (mouseleave)="hoverId=null">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
              <div matLine class="line-mat">
                <div class="line-text">
                  {{node.name}}
                </div>

                <div class="line-icons" *ngIf="(isAdmin | async) && hoverId===node.id">
                  <button type="button" mat-icon-button matTooltip="{{'drag_and_drop_to_move' | translate}}"
                          class="g-button-icon-small">
                    <mat-icon cdkDragHandle class="drag-drop-bt">
                      drag_handle
                    </mat-icon>
                  </button>
                  <button type="button" mat-icon-button class="g-button-icon-small">
                    <mat-icon (click)="onClickMenu($event, true, false, node.id)">
                      more_vert
                    </mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>

          </mat-nav-list>
        </mat-tree-node>
      </mat-tree>

      <button mat-raised-button color="primary" (click)="onClickMenu($event, true)" class="bt-add-doc"
              *ngIf="(isAdmin | async)">
        {{'create_element' | translate}}
      </button>

      <mat-tree [dataSource]="technicalDataSource" [treeControl]="treeControl" class="tree item g-full-height">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node">
          <mat-nav-list class="line" *ngIf="node.id != null">
            <a matTreeNodePadding matTreeNodePaddingIndent="15px" class="item" mat-list-item
               (click)="closeSideNav()"
               [ngStyle]="{'font-size': node.level > 0 ? '12px' : '14px'}"
               [routerLink]="node.completePath" [relativeTo]="activatedRoute" [routerLinkActive]="'active'">
              <div matLine>
                {{node.name}}
              </div>
            </a>
            <div class="placeholder-level" matTreeNodePadding
                 [matTreeNodePaddingIndent]="(overNodeLevel*15)+'px'">
            </div>
          </mat-nav-list>
        </mat-tree-node>


        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild">
          <mat-nav-list class="nav-list line">
            <mat-list-item class="item" matTreeNodePadding matTreeNodePaddingIndent="15px"
                           [ngStyle]="{'font-size': node.level > 0 ? '12px' : '14px'}"
                           (click)="expansionModel.toggle(node)" matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
              <div matLine>
                {{node.name}}
              </div>
            </mat-list-item>
            <div class="placeholder-level" matTreeNodePadding
                 [matTreeNodePaddingIndent]="(overNodeLevel*15)+'px'">
            </div>
          </mat-nav-list>
        </mat-tree-node>
      </mat-tree>


      <div class="sidenav-empty-space">

      </div>
      <button mat-raised-button color="primary" (click)="fileInput.click()" class="bt-add-technical-doc"
              *ngIf="(isAdmin | async)">
        {{'import_technical_documentation' | translate}}
      </button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
    </div>


  </mat-drawer>

  <mat-drawer-content class="sidenav-content">
    <div *ngIf="isSmallScreen" class="small-screen-title">
      <mat-icon (click)="openSideNav()" class="bt-open-side-nav">menu</mat-icon>
    </div>
    <div [class]="isSmallScreen ? 'small-router' : 'router'">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
