<mat-drawer-container class="g-full-height">

  <!-- Advanced section in the right in a drawer -->
  <mat-drawer mode="side" position="end" class="drawer" flDrawerOver="lt-lg" [opened]="true">
    <gen-biox-resource-advanced-search-form></gen-biox-resource-advanced-search-form>
  </mat-drawer>

  <div class="g-full-height" fxLayout="column">

    <!--  Center header  -->
    <div fxLayout="row">

      <div fxFlex="grow">

      </div>

      <button mat-icon-button type="button" (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>


    <!--   Number of results   -->
    <p class="result-count g-text-light">
      <ng-container *ngIf="datasource.page?.totalElements > 0">
        {{'count_result' | translate:{count: datasource.page?.totalElements} }}
      </ng-container>
    </p>

    <div fxFlex="grow" class="g-scrollable-element"
         fxLayout="column" (flInfiniteScroll)="loadMoreResults()"
         [flInfiniteDisabled]="datasource.isLoading || datasource.page?.last">
      <div>

        <div fxLayout="column">
          <gen-biox-resource-table [datasource]="datasource" [columns]="columns"></gen-biox-resource-table>
        </div>

        <fl-infinite-load-more-result [datasource]="datasource"></fl-infinite-load-more-result>
      </div>

      <fl-loader size="medium" *ngIf="datasource.firstPageIsLoading" class="g-centered"></fl-loader>
    </div>


  </div>


</mat-drawer-container>
