<div class="home">
  <div class="home-main-div">
    <div class="titles-div">
      <h1>{{'home_title' | translate}}</h1>
      <h4>{{'home_subtitle' | translate}}</h4>
    </div>

    <div class="portals-div">
      <a class="portal-div" [routerLink]="'/stories'">
        <div class="portal-div-image">
        </div>
        <div class="portal-div-content">
          <h4>{{'stories' | translate}}</h4>
          <h5>{{'stories_description' | translate}}</h5>
        </div>
      </a>
      <a class="portal-div" [routerLink]="'/bricks'">
        <div class="portal-div-image">
        </div>
        <div class="portal-div-content">
          <h4>{{'bricks' | translate}}</h4>
          <h5>{{'bricks_description' | translate}}</h5>
        </div>
      </a>
      <!--      <div class="portal-div">-->
      <!--        <h5>{{'webinaires' | translate}}</h5>-->
      <!--      </div>-->
      <!--      <div class="portal-div">-->
      <!--        <h5>{{'forum' | translate}}</h5>-->
      <!--      </div>-->
    </div>
  </div>

  <footer class="footer small-text">
    <div class="footer-links">
      <div class="footer-text">Cookies</div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/terms-of-use/">Terms of use</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/privacy-policy/">Private Policy</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/">Gencovery</a>
      </div>
      <div class="footer-text">
        <a [href]="getConstellabUrl()">Constellab</a>
      </div>
    </div>
    <div class="copyright-div">{{'copyright' | translate}}</div>
  </footer>
</div>



