<div class="home">
  <div class="home-main-div">
    <div class="titles-div">
      <h1>{{'home_title' | translate}}</h1>
      <h4>{{'home_subtitle' | translate}}</h4>
    </div>

    <div class="section-div">
      <div class="portals-div">
        <a class="portal-div" [routerLink]="'/stories'">
          <div class="portal-div-image">
            <img src="../../../assets/images/stories-logo.svg" />
          </div>
          <div class="portal-div-content">
            <h4>{{'stories' | translate}}</h4>
            <h5>{{'stories_description' | translate}}</h5>
          </div>
        </a>
        <a class="portal-div" [routerLink]="'/bricks'">
          <div class="portal-div-image">
            <img src="../../../assets/images/bricks-logo.svg" />
          </div>
          <div class="portal-div-content">
            <h4>{{'bricks' | translate}}</h4>
            <h5>{{'bricks_description' | translate}}</h5>
          </div>
        </a>
        <a class="portal-div" [routerLink]="'/product-doc'">
          <div class="portal-div-image">
            <img src="../../../assets/images/bricks-logo.svg" />
          </div>
          <div class="portal-div-content">
            <h4>{{'product_doc' | translate}}</h4>
            <h5>{{'product_doc_description' | translate}}</h5>
          </div>
        </a>
        <a class="portal-div" [routerLink]="'/tech-doc'">
          <div class="portal-div-image">
            <img src="../../../assets/images/bricks-logo.svg" />
          </div>
          <div class="portal-div-content">
            <h4>{{'tech_doc' | translate}}</h4>
            <h5>{{'tech_doc_description' | translate}}</h5>
          </div>
        </a>
      </div>

      <a class="portal-div constellab-portal-div" [href]="constellabUrl" target="_blank">
        <div class="portal-div-image">
          <img src="../../../assets/images/constellab-logo.svg" />
        </div>
        <div class="portal-div-content">
          <h4>Constellab <mat-icon>arrow_outward</mat-icon></h4>
          <h5>{{'constellab_description' | translate}}</h5>
        </div>
      </a>
    </div>
  </div>

  <footer class="footer small-text">
    <div class="footer-links">
      <div class="footer-text">Cookies</div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/terms-of-use/">Terms of use</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/privacy-policy/">Private Policy</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/">Gencovery</a>
      </div>
      <div class="footer-text">
        <a [href]="getConstellabUrl()">Constellab</a>
      </div>
    </div>
    <div class="copyright-div">{{'copyright' | translate}}</div>
  </footer>
</div>



