.home{
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

.titles-div{
  width: 58em;
  max-width: 100%;
}

.titles-div > h4{
  width: 80%;
}

.home-main-div{
  padding: 0 var(--margin-side);
  margin-top: 10vh;
}

.section-div{
  margin: 18vh auto 1em auto;
  width: fit-content;
}

.portals-div{
  display: flex;
  flex-direction: row;
  background-color: var(--card-background);
  border-radius: 18px;
  max-width: 812px;
  flex-wrap: wrap;
  padding: 4px;
  width: fit-content;
  margin: auto;
  margin-bottom: 8px;
}

.portal-div{
  margin: 4px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  width: calc(398px - 16px);
  height: calc(168px - 16px);
  border-radius: 10px;
  background-color: var(--main-background);
}

.portal-div-image{
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 8px;
}

.portal-div-content{
  display: flex;
  flex-direction: column;
  //space-between;
  justify-content: space-between;
}

.doc-portals-div{
  display: flex;
  flex-direction: column;
}

.doc-portals-div h4{
  margin: auto;
}

.doc-portals-div > div{
  display: flex;
}

.doc-portal-div{
  width: 300px;
  height: 100px;
}

.doc-portal-div > h5{
  margin: auto;
}


.footer{
  margin-top: auto;
  flex-shrink: 0;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.footer-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-text{
  padding-left: 10px;
  padding-right: 10px;
  border-left: solid 1px white;
}

.footer-text:first-child{
  padding-left: 0;
  border-left: none;
}

.constellab-portal-div{
  margin: auto;
}

@media (max-width: 1450px) {
  .section-div{
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 850px) {
  .portals-div{
    flex-direction: column;
    align-items: center;
  }

  .portal-div{
    margin-top: 8px;
  }

  .doc-portals-div > div{
    flex-direction: column;
  }
}
