<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <fl-text-icon>
      <mat-icon class="g-icon-big" svgIcon="study"></mat-icon>
      <h1>{{study.title}}</h1>
    </fl-text-icon>

    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button type="button"
              [matTooltip]="'status_history' | translate"
              (click)="openStatusHistory()">
        <mat-icon>history</mat-icon>
      </button>
      <fl-status-chip class="status g-text-big" [status]="study.currentStatus">
      </fl-status-chip>
    </div>
  </div>

  <fl-card class="g-full">

    <fl-card-body>
      <gen-study-info [study]="study"></gen-study-info>
    </fl-card-body>

    <fl-card-footer layoutGap="1em">
      <button mat-button type="button" color="primary" (click)="openUpdateStatusDialog()"
              class="button">
        {{'update_status' | translate}}
      </button>
      <button mat-button type="button" color="primary" (click)="openUpdateDialog()"
              class="button">
        <mat-icon>edit</mat-icon>
        <span>{{'edit' | translate}}</span>
      </button>
    </fl-card-footer>
  </fl-card>
</div>
