<fl-async-section [arrayObs]="labInstancesDatasource" emptyText="no_lab_instance">

  <fl-section-header class="g-headline">
    <a [routerLink]="myLabInstancesRoute" class="text-link">
      <fl-text-icon iconPosition="start">
        <mat-icon class="g-icon-big" flIcon="lab"></mat-icon>
        <h2>{{'my_labs' | translate}}</h2>
      </fl-text-icon>
    </a>
  </fl-section-header>

  <ng-container *flSectionBody="let labInstance">
    <ca-lab-instances-list [labInstances]="labInstance"></ca-lab-instances-list>
  </ng-container>

</fl-async-section>

