<div>

  <div fxLayout="row" fxLayoutAlign="start end" class="g-page-title">
    <h1>{{'welcome_message' | translate:{firstname: authenticatedUser.firstname} }}</h1>
    <div class="date g-text-small g-text-light">
      {{currentDate | date:'EEEE MMMM d, y'}}
    </div>
  </div>

  <!-- My project list -->
  <div class="section">
    <gen-dashboard-projects></gen-dashboard-projects>
  </div>

  <!-- Lab Instances -->
  <div class="section">
    <gen-dashboard-lab-instances></gen-dashboard-lab-instances>
  </div>

  <div fxLayout="row" fxLayoutGap="2em" fxLayout.lt-md="column">
    <!-- Lab catalog -->
    <gen-labs-catalog fxFlex="grow"></gen-labs-catalog>
    <!-- Protocol catalog -->
    <gen-dashboard-protocols fxFlex="grow"></gen-dashboard-protocols>
  </div>

  <a mat-button>
    <mat-icon [flIcon]="'experiment'"></mat-icon>
    Test
  </a>
</div>
