<div *ngFor="let viewByType of viewsByType" class="group">
  <fl-text-icon>
    {{viewByType.text | translate}}
    <mat-icon [flIcon]="viewByType.icon"></mat-icon>
  </fl-text-icon>

  <div fxLayout="row wrap" fxLayoutGap="1em">

    <div *ngFor="let view of viewByType.viewSpec"
         [ngClass]="getSelectedClass(view)"
         class="view-box"
         (click)="selectView(view)">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <p>{{view.getName()}}</p>
        <mat-icon *ngIf="view.defaultView" color="primary"
                  [matTooltip]="'biox.default_view' | translate">done
        </mat-icon>
      </div>

      <p class="g-text-small g-text-light">{{view.shortDescription}}</p>
    </div>
  </div>
</div>
