<fl-key-value>
  <fl-key>{{'monitoring.version' | translate}}</fl-key>
  {{brick.version}}
</fl-key-value>

<fl-key-value>
  <fl-key>{{'monitoring.repo_type' | translate}}</fl-key>
  {{brick.repoType}}
</fl-key-value>

<fl-key-value *ngIf="brick.repoCommit">
  <fl-key>{{'monitoring.repo_commit' | translate}}</fl-key>
  {{brick.repoCommit}}
</fl-key-value>

<button mat-stroked-button color="primary" type="button" (click)="generateTechnicalDoc()"
        class="generate-doc g-button-small">
  {{'monitoring.generate_technical_doc' | translate}}
  <fl-button-loader *ngIf="generateDocIsLoading" size="small"></fl-button-loader>
</button>
<lab-brick-message-list [messages]="$any(brick.data.messages)"></lab-brick-message-list>

