<fl-portal class="portal" flResize="both">

  <fl-portal-header class="header" [enableDrag]="true">
    <h2>{{title}}</h2>
  </fl-portal-header>


  <fl-portal-content>
    <form (ngSubmit)="submit()" id="config-form" [formGroup]="formGp">

      <!--  View configuration   -->
      <lab-configure-specs-form [configData]="configs" formGroupName="viewConfig"></lab-configure-specs-form>

      <mat-divider class="divider"></mat-divider>

      <!--  Transformers (called filter)  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{'biox.transformers' | translate}}
        </mat-expansion-panel-header>

        <lab-transform-resource class="transformers" formArrayName="transformers"
                                     [resourceTypingName]="resourceTypingName"></lab-transform-resource>
      </mat-expansion-panel>
      <mat-divider class="divider"></mat-divider>

      <!--  Full screen or dialog   -->
      <div *ngIf="showDisplayModeControl" class="display-mode">
        <label>{{'biox.resource_view_display_mode' | translate}}</label>
        <mat-radio-group formControlName="displayMode" color="primary">
          <mat-radio-button value="fullScreen"
                            class="display-mode-label">{{'biox.resource_view_display_component' | translate}}</mat-radio-button>
          <mat-radio-button value="portal"
                            class="display-mode-label">{{'biox.resource_view_display_portal' | translate}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>

    <button mat-raised-button color="primary" type="submit" form="config-form"
            class="g-centered-forced">
      {{'biox.show_view' | translate}}
    </button>
  </fl-portal-content>
</fl-portal>

