.section {
  flex: 1
}

.container{
  height: 100%;
}

.help-card{
  width: 50em;
  margin: auto;
}

.form-cards{
  margin-top: 5em;
}

.logo{
  width: 10em;
}

.feat{
  font-size: 8em;
}

.help-text{
  margin-top: 0.5em;
}
