# This is to lower the transfer of the daemon context

# Ignore git folder
.git

# Ignore the idea
.idea

# Ignore the tests
e2e
test

# Ignore the current node modules
node_modules

# Ignore dist folder
dist

# Ignore CI and docs
.github
*.md
.env*
