<div class="g-page">

  <gen-async-section [arrayObs]="labInstancesDatasource" emptyText="no_lab_instance">

    <gen-section-header class="g-page-title">
      <gen-text-icon iconPosition="start">
        <mat-icon class="g-icon-big" svgIcon="lab"></mat-icon>
        <h1>{{'my_labs' | translate}}</h1>
      </gen-text-icon>

      <gen-section-actions>
        <button mat-raised-button type="button" color="accent"
                disabled class="g-button-small">
          <mat-icon>add</mat-icon>
        </button>

      </gen-section-actions>
    </gen-section-header>

    <ng-container *genSectionBody="let labInstances">
      <gen-lab-instances-list [labInstances]="labInstances"></gen-lab-instances-list>

      <gen-pagination-load-more-result [datasource]="labInstancesDatasource"></gen-pagination-load-more-result>
    </ng-container>

  </gen-async-section>

</div>
