.left-section {
  position: relative;
}

.header{
  width: 100%;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}

.experiment-workflow {
  width: 100%;
  //height: 80vh;
  border: 2px dashed transparent;
}

.drop-border{
  border-color: var(--light-color);
}

.draggable-card {
  cursor: move;
}


// style drawflow
::ng-deep{
.drawflow .drawflow-node {
  width: initial;
  border: 1px solid var(--card-border-color) !important;

  // style for the processable node
  &.node-processable {
    color: var(--color-foreground);
    background-color: var(--card-background);
  }

  // style for interface nodes
  &.interface {
    color: white;
    background-color: #569cd6;
  }

  // style for outerface nodes
  &.outerface {
    color: white;
    background-color: #a0d982;
  }
}
}
