<gen-dialog-title>
  {{title | translate}}
</gen-dialog-title>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="project-form" [formGroup]="formGp">

    <!--  title  -->
    <mat-form-field class="g-form-input" appearance="outline">
      <mat-label>{{'title' | translate}}</mat-label>
      <input matInput formControlName="title" required genInputMaxLength="50"
             placeholder="{{'title' | translate}}">
      <mat-error *ngIf="formGp.get('title').hasError('required')">
        {{'title' | errorRequired}}
      </mat-error>
    </mat-form-field>


    <!--    Description      -->
    <gen-form-field class="g-form-input">
      <mat-label>{{'description' | translate}}</mat-label>
      <quill-editor formControlName="description" placeholder="{{'description' | translate}}"
                    class="g-full"
                    [styles]="{height: '8em'}">
      </quill-editor>
      <mat-error *ngIf="formGp.get('description').hasError('required')">
        {{'description' | errorRequired}}
      </mat-error>
    </gen-form-field>

  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" form="project-form"
          class="g-centered-forced">
    {{'save' | translate}}
    <gen-button-loader *ngIf="isLoading"></gen-button-loader>
  </button>
</div>
