<!-- Container status-->
<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="1em"
     class="status">
  <span>{{'lab_manager_status' | translate}} : </span>
  <fl-status-chip [status]="labStatus.containersStatus.status"></fl-status-chip>
  <span *ngIf="labStatus.containersStatus.info">{{labStatus.containersStatus.info}}</span>
</div>

<!-- Lab task -->
<div *ngIf="labStatus.currentTask != null; else noTask"
     fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="1em">
  <span>{{'lab_manager_task' | translate}} : </span>
  <fl-status-chip [status]="labStatus.currentTask.status"></fl-status-chip>
  <span>{{labStatus.currentTask.name}} {{labStatus.currentTask.info}}</span>
</div>

<fl-key-value>
  <fl-key>{{'lab_manager_version' | translate}}</fl-key>
  {{labStatus.labManagerVersion}}
</fl-key-value>

<div *ngIf="labStatus.labManagerVersion !== labStatus.labManagerRecommendedVersion"
     class="version-warning">
  <fl-text-icon>
    <mat-icon color="warn">warnings</mat-icon>
    {{'lab_manager_not_compatible_with_central' | translate: {
    'labManagerVersion': labStatus.labManagerVersion,
    'compatibleVersion': labStatus.labManagerRecommendedVersion
  } }}
  </fl-text-icon>
</div>

<fl-key-value *ngIf="labStatus.biotaDbUrl">
  <fl-key>{{'biota_db_url' | translate}}</fl-key>
  {{labStatus.biotaDbUrl}}
</fl-key-value>

<ng-template #noTask>
  {{'lab_manager_no_task' | translate}}
</ng-template>

<!-- Lab Adminer runnings -->
<div *ngIf="labStatus.adminerIsRunning">
  <fl-text-icon class="g-text-big g-warn-text">
    <mat-icon>warnings</mat-icon>
    {{'lab_manager_adminer_running' | translate}}
  </fl-text-icon>

  <fl-key-value>
    <fl-key>{{'adminer_url' | translate}}</fl-key>
    <a [href]="adminerUrl" class="g-text-link" target="_blank">{{adminerUrl}}</a>
  </fl-key-value>

  <fl-key-value>
    <fl-key>{{'adminer_gws_core_server' | translate}}</fl-key>
    <span>gws_core_prod_db | gws_core_dev_db</span>
  </fl-key-value>

  <fl-key-value>
    <fl-key>{{'adminer_gws_biota_server' | translate}}</fl-key>
    <span>gws_biota_prod_db | gws_biota_dev_db</span>
  </fl-key-value>
</div>
