<mat-table fxFlex="100" mat-table [dataSource]="datasource">

  <!-- CreatedAt -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'created_at' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      <fl-from-now [date]="resource.createdAt"></fl-from-now>
    </mat-cell>
  </ng-container>

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'name' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      {{resource.name}}
    </mat-cell>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="download-column">
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="download-column">
      <a [routerLink]="resourceFileRoute(resource)" mat-icon-button
         type="button" color="primary" class="preview"
         [matTooltip]="'biox.file_resource_open' | translate">
        <mat-icon>preview</mat-icon>
      </a>

      <button mat-icon-button type="button" color="primary" (click)="downloadFile(resource)"
              [matTooltip]="'biox.file_resource_download' | translate">
        <mat-icon>cloud_download</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      <p class="g-table-cell">{{column.columnName | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <div class="g-table-cell">
        <span>{{user[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
</mat-table>

