<mat-table fxFlex="100" mat-table [dataSource]="datasource">

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      <p class="g-table-cell">{{column.columnName | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <div class="g-table-cell">
        <span>{{user[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
</mat-table>

