<section class="title-section">
  <div class="title-div">
    <h1>{{'hub_home_title' | translate}}</h1>
    <p>{{'hub_home_subtitle' | translate}}</p>
  </div>
  <div class="title-image"></div>
  <div class="title-left-corner"></div>
</section>


<section class="brick-list-section">
  <div class="brick-list">
      <ng-container *ngFor="let brick of bricks" >
        <a [href]="'bricks/' + brick.name" >
           <div class="brick" >
            <div class="brick-logo"></div>
            <div class="brick-info">
              <h2>{{brick.name}}</h2>
              <fl-text-icon iconPosition="end" gap="0.2em"><mat-icon class="mat-primary">check</mat-icon>Verified</fl-text-icon>
              <p>{{brick.lastVersion.toString()}}</p>
            </div>

          </div>
        </a>

      </ng-container>

  </div>

  <button mat-flat-button color="primary" routerLink="edit" *haIsAdmin class="button-create">
    {{'create' | translate}} <mat-icon>add</mat-icon>
  </button>
</section>



