.title-link {
  display: inline-block;
  cursor: pointer;
}


.title-link:hover h2 {
  text-decoration: underline;
}


.all-button {
  flex-direction: row;
  display: flex;
  place-content: stretch flex-end;
  margin-top: 1em;
}

