<mat-table fxFlex="100" mat-table [dataSource]="datasource">

  <!-- Version -->
  <ng-container matColumnDef="version">
    <mat-header-cell *matHeaderCellDef>
      <p>{{'version' | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let version">
      <div>
        {{version.version.toString()}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Repo type -->
  <ng-container matColumnDef="repoType">
    <mat-header-cell *matHeaderCellDef>
      <p>{{'repo_type' | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let version">
      <div>
        {{version.repoType}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Last modified -->
  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef>
      <p>{{'last_modification_info' | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let version">
      <fl-last-modification-info [lastModifiedBy]="version.lastModifiedBy?.fullname"
                                 [lastModifiedAt]="version.lastModifiedAt">
      </fl-last-modification-info>
    </mat-cell>
  </ng-container>




  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
</mat-table>

