<div fxLayout="row" fxLayoutAlign="space-between center"
     *ngIf="labInstance$ | async as labInstance"
     class="nav-bar">

  <div fxLayout="row" fxLayoutAlign="start center">

    <fl-text-icon>
      <mat-icon class="g-icon-big" flIcon="lab"></mat-icon>
      <h1>{{labInstance.name}}</h1>
    </fl-text-icon>

    <a mat-button [routerLink]="getDetailRoute(labInstance)" routerLinkActive="menu-active"
       [routerLinkActiveOptions]="{exact: true}" class="nav-button">
      <mat-icon>dashboard</mat-icon>
      {{'dashboard' | translate}}
    </a>

    <a mat-button [routerLink]="getConfigRoute(labInstance)" routerLinkActive="menu-active"
       class="nav-button" *ngIf="labInstance.isCloud">
      <mat-icon>settings</mat-icon>
      {{'lab_configuration' | translate}}
    </a>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button type="button" (click)="openLabNameUpdate(labInstance)"
            [matTooltip]="'update_lab_name' | translate" class="g-button-action g-button-shadow">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button type="button" (click)="openStatusHistoryDialog(labInstance)"
            [matTooltip]="'status_history' | translate" class="g-button-action g-button-shadow">
      <mat-icon>history</mat-icon>
    </button>

    <fl-status-chip [status]="labStatus$"
                    class="g-text-big g-button-action">
    </fl-status-chip>
  </div>
</div>
