<div class="g-page">

  <fl-async-section [arrayObs]="datasource" emptyText="fe.no_file_resources"
                    fxFlex="auto" class="drop-border"
                    flDragHover="drop-zone-hover" (flDrop)="onFileDrop($event)">

    <fl-section-header>
      <fl-text-icon>
        <mat-icon class="g-icon-big">folder</mat-icon>
        <h1>{{'fe.file_explorer' | translate}}</h1>
      </fl-text-icon>

      <fl-section-actions>

        <!--   Upload files     -->
        <fl-input-file-container color="primary" class="file-input" [disableFileDrop]="true"
                                 [placeholder]="'fe.upload_file' | translate" icon="upload_file">
          <input flInputFile [multiple]="true" type="file" (fileChange)="uploadFiles($event)"
                 [(ngModel)]="files">
        </fl-input-file-container>

        <!--   Upload folders     -->
        <fl-input-file-container color="primary" class="file-input" [disableFileDrop]="true"
                                 [placeholder]="'fe.upload_folder' | translate" icon="drive_folder_upload">
          <input flInputFile [multiple]="true" type="file" (fileChange)="uploadFolder($event)"
                 [(ngModel)]="files" webkitdirectory mozdirectory>
        </fl-input-file-container>


      </fl-section-actions>
    </fl-section-header>

    <ng-container *flSectionBody>
      <fl-infinite-scroll [datasource]="datasource" infiniteMode="body">
        <gen-biox-resource-table [datasource]="datasource" [columns]="columns">
        </gen-biox-resource-table>
      </fl-infinite-scroll>

    </ng-container>

  </fl-async-section>

</div>
