<mat-toolbar class="nav-bar">
  <a routerLink="../" class="gencovery-hub-logo gencovery-logo">
    <img alt="" src="../../../assets/images/gencovery-logo.png"/>
  </a>

  <div class="nav-bar-links">
    <h5 class="option"><a [href]="'./'">{{'home'| translate}}</a></h5>
    <h5 class="option"><a [href]="'stories'">{{'stories' | translate}}</a></h5>
    <h5 class="option"><a [href]="'bricks'">{{'bricks' | translate}}</a></h5>
    <h5 class="option"><a [href]="constellabUrl" target="_blank">Constellab</a></h5>
  </div>

  <ng-container *ngIf="(userConnected$ | async) == null">
    <a mat-flat-button color="primary" class="g-centered-forced bt-register"
       [href]="constellabUrl" target="_blank">
      {{'register' | translate}}
    </a>
    <a [routerLink]="loginRoute" mat-flat-button color="primary"
       class="g-centered-forced">
      {{'login' | translate}}
    </a>
  </ng-container>

  <span class="span-initials" [matMenuTriggerFor]="userMenu" *ngIf="userConnected$ | async as user">
    <fl-user-profile-picture [user]="user">
    </fl-user-profile-picture></span>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="'../admin'">{{'admin_dashboard' | translate}}</button>
    <button mat-menu-item (click)="logout()">{{'logout' |translate}}</button>
  </mat-menu>
</mat-toolbar>

<div class="body g-scrollable-element">
  <div class="router">
    <router-outlet></router-outlet>
  </div>

<!--  <footer class="footer">-->
<!--    <img alt="" class="footer-logo" src="../../../assets/images/gencovery-logo.png" fxHide.gt-sm/>-->
<!--    <img alt="" class="footer-logo" src="../../../assets/images/gencovery-logo-text.png" fxHide.lt-md/>-->
<!--    <div class="footer-text" fxHide.lt-md>Connecting people through innovation</div>-->
<!--    <div class="footer-text">©2022 – Gencovery – All Rights Reserved</div>-->
<!--    <div class="footer-text">-->
<!--      <a href="https://gencovery.com/legal/privacy-policy/">Private Policy</a>-->
<!--    </div>-->
<!--    <div class="footer-text">-->
<!--      <a href="https://gencovery.com/legal/terms-of-use/">Terms of use</a>-->
<!--    </div>-->
<!--  </footer>-->
</div>

