<mat-toolbar class="nav-bar" fxHide.lt-sm>
  <a routerLink="../" class="gencovery-hub-logo gencovery-logo">
    <img src="../../../assets/images/gencovery-logo.png" fxHide.gt-sm />
    <img src="../../../assets/images/hub-logo.png" fxHide.lt-md/>
  </a>

  <span class="option"><a routerLink="../">Home</a></span>
  <span class="option"><a [href]="constellabUrl">Constellab</a></span>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" *ngIf="!(userConnected | async)" class="g-centered-forced bt-register"
          (click)="openLoginDialog()">
    {{'register' | translate}}
  </button>
  <button mat-flat-button color="primary" *ngIf="!(userConnected | async)" class="g-centered-forced"
          (click)="openLoginDialog()">
    {{'login' | translate}}
  </button>
  <span class="g-centered-forced span-initials" [matMenuTriggerFor]="userMenu" *ngIf="userConnected | async as user">
    <fl-user-profile-picture [firstName]="user.firstname"
                             [lastName]="user.lastname">
    </fl-user-profile-picture></span>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="'../admin'">{{'admin_dashboard' | translate}}</button>
    <button mat-menu-item (click)="logout()">{{'logout' |translate}}</button>
  </mat-menu>
</mat-toolbar>

<mat-toolbar class="nav-bar" fxHide.gt-xs>
  <a routerLink="../">
    <img src="../../../assets/images/gencovery-logo.png" class="gencovery-logo"/>
  </a>
  <span class="option"><a routerLink="../"><mat-icon>home</mat-icon></a></span>
  <span class="option"><a [href]=""><mat-icon>auto_awesome</mat-icon></a></span>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" *ngIf="!(userConnected | async)" class="g-centered-forced bt-register"
          (click)="openLoginDialog()">
    {{'register' | translate}}
  </button>
  <button mat-flat-button color="primary" *ngIf="!(userConnected | async)" class="g-centered-forced"
          (click)="openLoginDialog()">
    {{'login' | translate}}
  </button>
  <span class="g-centered-forced span-initials" [matMenuTriggerFor]="userMenu" *ngIf="userConnected | async as user">
    <fl-user-profile-picture [firstName]="user.firstname"
                             [lastName]="user.lastname">
    </fl-user-profile-picture></span>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="'../admin'">{{'admin_dashboard' | translate}}</button>
    <button mat-menu-item (click)="logout()">{{'logout' |translate}}</button>
  </mat-menu>
</mat-toolbar>

<div class="test">
  <div class="router">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <img class="footer-logo" src="../../../assets/images/gencovery-logo.png" fxHide.gt-sm />
    <img class="footer-logo" src="../../../assets/images/gencovery-logo-text.png" fxHide.lt-md/>
    <div class="footer-text" fxHide.lt-md>Connecting people through innovation</div>
    <div class="footer-text">©2022 – Gencovery – All Rights Reserved</div>
    <div class="footer-text">
      <a href="https://gencovery.com/legal/privacy-policy/">Private Policy</a>
    </div>
    <div class="footer-text">
      <a href="https://gencovery.com/legal/terms-of-use/">Terms of use</a>
    </div>
  </footer>
</div>

