<div class="main g-dashboard-background">
  <mat-toolbar class="nav-bar">
    <a routerLink="../" class="gencovery-hub-logo gencovery-logo">
      <img alt="" src="../../../assets/images/gencovery-logo.png"/>
    </a>

    <div class="nav-bar-links">
      <h5 class="option"><a [routerLink]="getHomeRoute()">{{'home'| translate}}</a></h5>
      <h5 class="option"><a [routerLink]="getStoryListRoute()">{{'stories' | translate}}</a></h5>
      <h5 class="option"><a [routerLink]="getBrickListRoute()">{{'bricks' | translate}}</a></h5>
      <h5 class="option"><a [href]="constellabUrl" target="_blank">Constellab</a></h5>
    </div>


    <span class="span-initials">
    <ng-container *ngIf="(userConnected$ | async) == null">
    <a [routerLink]="loginRoute" mat-flat-button color="primary"
       class="g-centered-forced">
      {{'login' | translate}}
    </a>
  </ng-container>
    <fl-user-profile-picture [user]="user" [matMenuTriggerFor]="userMenu" *ngIf="userConnected$ | async as user">
    </fl-user-profile-picture></span>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="'../admin'">{{'admin_dashboard' | translate}}</button>
      <button mat-menu-item (click)="logout()">{{'logout' |translate}}</button>
    </mat-menu>
  </mat-toolbar>

  <div class="body g-scrollable-element">
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

