.gencovery-logo{
  height: 2.5em;
  margin: 0;
}

.gencovery-hub-logo img{
  height: 100%;
}

.bt-register{
  margin-right: 0.5em !important;
}

.nav-bar{
  background-color: var(--card-background);
  padding: 1em 5%;
  height: 4.5em !important;
  display: flex;
}

.spacer{
  flex: 1 1 auto;
}

.option{
  margin-left: 5em;
}

.test{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6.5em);
}

.router{
  flex: 1 0 auto;
}

.footer{
  flex-shrink: 0;
  height: 55px;
  width: 100%;
  background-color: var(--card-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: 2em;
}

.footer-text{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  border-left: solid 2px var(--grey-low-contrast);
}

.footer-logo{
  height: 60%;
  padding-right: 10px;
}

@media (max-width: 1280px) {
  .option{
    margin-left: 3em;
  }
}

@media (max-width: 599px) {
  .footer{
    font-size: 0.85em;
  }

  .footer-text{
    padding-left: 2px;
    padding-right: 2px;
  }

  .footer-logo{
    padding-right: 2px;
  }

  .nav-bar{
    padding: 1em 1%;
  }
  .option{
    font-size: 2em;
    margin-left: 1.5em;
  }
}

.span-initials:hover{
  cursor: pointer;
}
