<div>
  <div class="card-header">
    <h1>Task of the day</h1>
  </div>
  <fl-card class="card">
    <fl-card-body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula diam, viverra at aliquet vitae, tincidunt vel dui. Curabitur lacus nisi, ultrices in diam id, laoreet feugiat nibh. Integer vitae nisl vel mi mattis scelerisque. Donec mattis interdum viverra. Nunc placerat blandit scelerisque. Etiam in sem blandit, faucibus augue ac, sagittis sapien. Nulla faucibus massa at neque feugiat, vel dignissim elit vulputate. Integer ac lobortis nisl. Nullam ligula mauris, sagittis quis purus vel, auctor suscipit quam. Morbi nisi leo, volutpat tincidunt erat in, pretium luctus leo.</p>
      <p>>> Go to the hub</p>
    </fl-card-body>
  </fl-card>
</div>
