<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <!-- This is the tree node template for leaf -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding
                 [matTreeNodePaddingIndent]="10" class="g-text-link g-text-not-selectable"
                 (click)="clickProcess(node)" (dblclick)="dblClickProcess(node)">
    <div class="leaf">{{node.ptypePart}}</div>
  </mat-tree-node>


  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [matTreeNodePaddingIndent]="10"
                 class="g-clickable" matTreeNodeToggle>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div>
        <fl-text-icon>
          <mat-icon>
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
          <span>{{node.ptypePart}}</span>
        </fl-text-icon>
      </div>

    </div>
  </mat-tree-node>
</mat-tree>
