.sentence {
  margin-bottom: 0.5em;
}

.part-section {
  word-break: break-word;
}

.subject {
  flex: 2;
}

.verb {
  text-align: center;
  flex: 1;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.object {
  text-align: right;
  flex: 1;
}

.delete-part{
  margin-left: 2em;
}
