.text-link {
  display: inline-block;
  cursor: pointer;
}


.text-link:hover h2 {
  text-decoration: underline;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
@media (max-width: 959px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 599px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
