<div class="g-page-fixed page" fxLayout="column">
  <fl-async-section fxFlex [object]="resource$" class="section">


    <fl-section-header class="page-padding" >
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2 class="header-title">
          {{title}}
        </h2>
        <button mat-stroked-button type="button"
                (click)="openViewSpecs()" #viewSpecButton>
          {{'biox.view_specs' | translate}}
        </button>
      </div>
    </fl-section-header>

    <ng-container *flSectionBody="let resource">

      <div class="page-padding">
        <ng-template #viewContainer></ng-template>
      </div>
    </ng-container>

  </fl-async-section>

</div>
