<div class="g-page-fixed page" fxLayout="column">
  <fl-async-section fxFlex [object]="resource$" class="section">

    <fl-section-header class="page-padding">
      <h2>{{'resource' | translate}} : {{resourceId}}</h2>
      <fl-section-actions *ngIf="availableViews">
        <a *ngFor="let view of availableViews"
           mat-icon-button type="button"
           [routerLink]="'./'" [queryParams]="getQueryParam(view)"
           [replaceUrl]="true"
           [color]="view.route === currentView ? 'primary': null"
           [matTooltip]="view.tooltip | translate" matTooltipPosition="below">
          <mat-icon *ngIf="view.icon; else text">{{view.icon}}</mat-icon>
          <ng-template #text>{{view.text}}</ng-template>
        </a>
      </fl-section-actions>
    </fl-section-header>

    <ng-container *flSectionBody="let resource">

      <ng-container [ngSwitch]="currentView">

        <!--    Json view    -->
        <div class="page-padding g-full-height" *ngSwitchCase="'json'">
          <gen-biox-resource-json [resource]="resource"></gen-biox-resource-json>
        </div>

        <!--    Spreadsheet view    -->
        <div class="page-padding g-full-height" *ngSwitchCase="'spreadsheet'">
          <gen-biox-resource-spreadsheet [resource]="resource"></gen-biox-resource-spreadsheet>
        </div>

        <!--    Text view    -->
        <div class="page-padding g-full-height" *ngSwitchCase="'text'">
          <gen-biox-resource-text [resource]="resource"></gen-biox-resource-text>
        </div>

        <!--    Pathway view    -->
        <fl-chart-pathway *ngSwitchCase="'pathway'" [data]="resource.model.data.network"></fl-chart-pathway>

      </ng-container>
    </ng-container>

  </fl-async-section>

</div>
