.page {
  padding: 0;
}

.section {
  padding-top: 1em;
  margin-bottom: 0;
}

.page-padding {
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
}

.header-title {
  margin-right: 1em;
}


.filename {
  margin-left: 0.5em;
}
