<div fxLayout="column" class="g-full-height">


  <fl-async-section [object]="view$" class="g-full-height">
    <fl-section-header>

      <fl-text-icon>
        <mat-icon class="g-icon-big">{{(viewConfig.viewType | labViewTypeInfo).icon}}</mat-icon>
        <h2 class="header-title">{{viewConfig.title}}</h2>
      </fl-text-icon>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
        <a [routerLink]="viewConfig.resource.id | labDetailRoute:'resource'"
           *ngIf="viewConfig.resource" class="g-text-link">
          <fl-text-icon class="g-text-tiny g-text-light"
                        gap="5px">
            <mat-icon flIcon="resource" class="g-icon-tiny"></mat-icon>
            {{viewConfig.resource.name}}
          </fl-text-icon>
        </a>

        <fl-tag-list [tags]="viewConfig.tags" [tagSelectable]="false" class="g-text-small"></fl-tag-list>
      </div>

      <fl-section-actions>
        <lab-flag-button [entity]="viewConfig"></lab-flag-button>

        <lab-view-config-actions-menu [viewConfig]="viewConfig"
                                      (update)="onUpdate($event)"
                                      (updateTags)="onTagUpdate($event)"></lab-view-config-actions-menu>
      </fl-section-actions>
    </fl-section-header>

    <ng-container *flSectionBody="let view">
      <rv-resource-view [view]="view"
                        [config]="rvViewConfig" [resourceId]="viewConfig.resource.id">
      </rv-resource-view>
    </ng-container>
  </fl-async-section>
</div>
