<fl-card class="card">
  <fl-card-header>
    <p class="g-text-big">{{project.code}}</p>
    <fl-card-actions>
      <gen-status-chip [statusHistory]="project.currentStatus"
                       mode="iconOnly"
                       class="g-text-normal">
      </gen-status-chip>
    </fl-card-actions>
  </fl-card-header>


  <fl-card-body class="body">
    <div>
      <p>{{project.title}}</p>
    </div>

    <gen-text-icon class="dates">
      <mat-icon>date_range</mat-icon>
      <gen-date-range [startingDate]="project.startingDate" [endingDate]="project.endingDate"
                      class="g-text-light g-text-small">
      </gen-date-range>
    </gen-text-icon>

  </fl-card-body>
</fl-card>
