<div class="g-page">

  <fl-text-icon class="g-page-title">
    <mat-icon class="g-icon-big">admin_panel_settings</mat-icon>
    <h1>{{'admin_dashboard' | translate}}</h1>
  </fl-text-icon>

  <ca-admin-accounts-activation></ca-admin-accounts-activation>

  <ca-admin-lab-instances-list class="g-section"></ca-admin-lab-instances-list>

  <ca-admin-organizations-list class="g-section"></ca-admin-organizations-list>

  <ca-admin-server-info-list class="g-section"></ca-admin-server-info-list>

  <ca-admin-lab-front-version-list class="g-section"></ca-admin-lab-front-version-list>


</div>
