<div *ngFor="let viewByType of viewsByType" class="group">
  <fl-text-icon>
    {{viewByType.viewTypeInfo.text | translate}}
    <mat-icon [flIcon]="viewByType.viewTypeInfo.icon"></mat-icon>
  </fl-text-icon>

  <div fxLayout="row wrap" fxLayoutGap="1em">

    <div *ngFor="let view of viewByType.viewSpec"
         [ngClass]="getSelectedClass(view)"
         class="view-box"
         (click)="selectView(view, viewByType)">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="text">{{view.getName()}}</div>
        <mat-icon *ngIf="view.defaultView" color="primary"
                  [matTooltip]="'biox.default_view' | translate">done
        </mat-icon>
      </div>

      <p class="text g-text-small g-text-tiny">{{view.shortDescription}}</p>
    </div>
  </div>
</div>
