.group{
  margin-top: 0.5em;
}

.view-box {
  border-width: 1px;
  border-style: solid;
  width: 10em;
  height: 5em;
  border-radius: 10px;
  padding: 0.3em;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.view-box-unselected {
  border-color: var(--grey-low-contrast);
}

.text{
  word-break: break-word;
}
