<fl-async-section [arrayObs]="studiesArray" emptyText="no_study">

  <fl-section-header>
    <fl-text-icon>
      <mat-icon svgIcon="study" class="g-icon-big"></mat-icon>
      <h2>{{'studies' | translate}}</h2>
    </fl-text-icon>

    <fl-section-actions>
      <button mat-mini-fab type="button" color="accent"
              (click)="openCreateStudyDialog()"
              [matTooltip]="'new_study' | translate">
        <mat-icon>add</mat-icon>
      </button>
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBody="let studies">
    <div fxLayout="row wrap" fxLayoutGap="1%" fxLayoutGap.lt-md="0">
      <a class="study" *ngFor="let study of studies"
         [routerLink]="'study/' + study.id"
         fxFlex="24%" fxFlex.md="49%" fxFlex.lt-md="100%">
        <gen-study-card [study]="study" fxFill></gen-study-card>
      </a>
    </div>
  </ng-container>

</fl-async-section>
