<div class="g-page">
  <fl-section [isLoading]="isLoading" [object]="protocol">

    <ng-template flSectionBody>
      <fl-text-icon>
        <mat-icon class="g-icon-big" svgIcon="protocol"></mat-icon>
        <h1>{{protocol.label}}</h1>
      </fl-text-icon>

      <fl-card>
        <fl-card-body>
          <gen-protocol-json [json]="protocol.getJsonProtocol()" [expandProtocol]="true"></gen-protocol-json>
        </fl-card-body>
      </fl-card>

      <gen-protocol-experiments-list [protocolId]="protocol.id"
                                     class="g-section"></gen-protocol-experiments-list>
    </ng-template>
  </fl-section>
</div>
