<mat-table fxFlex="100" mat-table [dataSource]="datasource">

  <!-- GWS_CORE -->
  <ng-container matColumnDef="gwsCoreBrickVersion">
    <mat-header-cell *matHeaderCellDef>
      <p>{{'gws_core_brick_version' | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let labFrontVersion">
      <div>
        {{labFrontVersion.gwsCoreBrickVersion.version}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Last modified -->
  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef>
      <p>{{'last_modification_info' | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let labFrontVersion">
      <fl-last-modification-info [lastModifiedBy]="labFrontVersion.lastModifiedBy?.fullname"
                                 [lastModifiedAt]="labFrontVersion.lastModifiedAt">
      </fl-last-modification-info>
    </mat-cell>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let labFrontVersion">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item type="button" (click)="updateVersion(labFrontVersion)">
          <mat-icon>edit</mat-icon>
          <span>{{'update_lab_front_version' | translate}}</span>
        </button>

        <button mat-menu-item type="button" (click)="deleteVersion(labFrontVersion)" class="g-warn-text">
          <mat-icon color="warn">delete</mat-icon>
          <span>{{'delete_lab_front_version' | translate}}</span>
        </button>
      </mat-menu>

    </mat-cell>
  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      <p>{{column.columnName | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let serverInfo">
      <div>
        <span>{{serverInfo[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
</mat-table>

