
.verified-icon {
  margin-right: 0.5em;
}

.side {
  flex: 1;
  max-width: 30rem;
}

.text-editor{
  height: 100%;
  flex: 2;
}

.experiments {
  margin-top: 2em;
  box-sizing: border-box;
  padding-left: 1em;
}


