/* You can add global styles to this file, and also import other style files */

// Import theme for material
@import "libs/front-core-lib/src/style/theme/theme";
// Import the style for the library
@import "libs/front-core-lib/src/style/global";

// Import the style for material
@import "libs/front-core-lib/src/style/material-override";
@import "libs/front-core-lib/src/style/dialog";
@import "libs/front-core-lib/src/style/icon";

// Import quill style
@import "libs/front-core-lib/src/style/quill";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// list of global variable
:root {
  --menu-toolbar-height: 58px
}

.g-page, .g-page-fixed{
  padding: 2em 2em 0 2em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

// full page with possibility to grow
.g-page{
  min-height: calc(100vh - var(--menu-toolbar-height));
}

// 100% height max
.g-page-fixed {
  height: calc(100vh - var(--menu-toolbar-height));
  max-height: calc(100vh - var(--menu-toolbar-height));
}

@media (max-width: 600px) {
  .g-page, .g-page-fixed {
    padding: 1em 1em 0 1em;
  }
}

.g-page-bottom-padding{
  padding-bottom: 2em;
}
