<fl-dialog-header>
  {{'biox.import_resource' | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <div *ngIf="getIsLoading; else ready" class="g-text-centered">
    <fl-loader size="medium"></fl-loader>
  </div>

  <ng-template #ready>
    <div *ngIf="!resourceNoImportable; else noImportable">
      <!--   Small explanation text     -->
      <!--   Todo we need a message?    -->
      <!--      <div class="g-text-light help-text">-->
      <!--        {{'biox.import_resource_text' | translate: {-->
      <!--        sourceType: resourceHumanName,-->
      <!--        targetType: importConfig.resourceDestination-->
      <!--      } }}-->
      <!--      </div>-->

      <!--   The import need config, show the form   -->
      <form (ngSubmit)="submit()" [formGroup]="formGp">

        <mat-form-field class="g-full">
          <mat-label>{{'biox.select_importer' | translate}}</mat-label>
          <mat-select formControlName="importer" [placeholder]="'biox.select_importer' | translate"
                      (selectionChange)="selectImporter($event)">
            <mat-option *ngFor="let importer of importers" [value]="importer">
              {{importer.humanName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGp.get('importer').hasError('required')">
            {{'biox.select_importer' | flErrorRequired}}
          </mat-error>
        </mat-form-field>


        <div formGroupName="config">
          <!--     gen-biox-configure-specs-form     -->
          <ng-template #viewContainer></ng-template>
        </div>

        <!--   If the import doesn't need config   -->
        <div *ngIf="showNoConfigMessage" class="g-text-light">
          {{'biox.resource_import_no_config' | translate}}
        </div>

        <button mat-raised-button color="primary" type="submit"
                class="g-centered-forced">
          {{'biox.import_resource' | translate}}
          <fl-button-loader *ngIf="callIsLoading"></fl-button-loader>
        </button>
      </form>
    </div>

    <ng-template #noImportable>
      <fl-error-text [errorMessage]="'biox.resource_not_importable' | translate"></fl-error-text>
    </ng-template>
  </ng-template>
</mat-dialog-content>
