<fl-card>
  <fl-card-header>
    <gen-text-icon>
      <mat-icon svgIcon="protocol" class="g-icon-big"></mat-icon>
      <p>{{protocol.label}}</p>
    </gen-text-icon>

    <fl-card-actions>
      <a [routerLink]="protocolDetailPage" mat-button
         class="g-button-small" *ngIf="showDetailButton">
        {{'protocol_detail_link' | translate}}
      </a>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <div *ngIf="protocol.hasProtocol()">
      <gen-protocol-json [json]="protocol.getJsonProtocol()"></gen-protocol-json>
    </div>
  </fl-card-body>
</fl-card>

