.content-editor{
  width: 100%;
  max-width: 100%;
  border: none;
  background-color: var(--card-background);
  min-height: 100%;
  display: flex;
  max-height: 100%;
}

.documentation-form{
  width: 100%;
  height: 100%;
}

.side{
  margin-left: 1em;
  width: 25rem;
  height: 98%;
  padding-left: 0.5em;
  border-left: 2px solid var(--card-background);
}

.content{
  max-width: 100%;
  height: 98%;
  flex: 1;
}

.sidenavBody{
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  align-content: flex-end;
}

.h100{
  height: 100%;
}
