<div class="container">
  <mat-tree *ngIf="dataSource" [dataSource]="dataSource" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" [matTreeNodePadding]="node.level" [matTreeNodePaddingIndent]="30">
      <lab-resource-folder-node [node]="node" nodeType="file"></lab-resource-folder-node>
    </mat-tree-node>


    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
                   [matTreeNodePadding]="node.level" [matTreeNodePaddingIndent]="30" class="g-clickable">
      <div matTreeNodeToggle fxLayout="row" fxLayoutAlign="start center">

        <!--      Arrow icon      -->
        <mat-icon>{{treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}</mat-icon>
        <lab-resource-folder-node [node]="node" nodeType="folder"></lab-resource-folder-node>

      </div>
    </mat-tree-node>
  </mat-tree>
</div>
