.back-link{
  display: block;
  width: fit-content;
}

.right-div{
  margin-top: 13px;
  margin-left: 20px;
  width: 295px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  border-radius: 18px;
  padding: 8px;

}

.title{

  border-radius: 10px;
  padding: 7px 8px;
  margin-top: 8px;
}

.big-title{
  background-color: var(--main-background);
}

.small-title{
  background-color: var(--hover-color);
}

.title:first-child{
  margin-top: 0;
}

.story-content{
  background-color: var(--main-background);
  padding: 16px;
  border-radius: 16px;
  margin: 19px auto 8px auto;
}

.text-editor{
  border: none;
  width: 60rem;
  max-width: calc(100vw - 32px);
}

.story-date{
  margin-left: 3em;
}
