
.page{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--menu-toolbar-height));
  max-height: calc(100vh - var(--menu-toolbar-height));
}

.upload-button{
  margin-right: 0.5em;
}

