
.container{
  display: grid;
  grid-template-columns: 13em 1fr;
  padding-bottom: 1em;
}

.left-section{
  border-right: 1px solid var(--card-background);
  //width: 13em;
  //flex-shrink: 0;
}

.process{
  cursor: pointer;
  padding: 1em;
  border-bottom: 1px solid var(--card-background);

}

.process:hover{
  background-color: var(--card-background);
}

.right-section{
  min-width: 20em;
  //flex: 1 0 auto;
}
