<div class="g-page">

  <fl-async-section [arrayObs]="projectsDatasource" emptyText="no_project">

    <fl-section-header class="g-page-title">
      <fl-text-icon iconPosition="start">
        <mat-icon class="g-icon-big" svgIcon="project"></mat-icon>
        <h1>{{'my_projects' | translate}}</h1>
      </fl-text-icon>

      <fl-section-actions>
        <button mat-raised-button type="button" color="accent"
                (click)="openCreateProjectDialog()" class="g-button-small">
          <mat-icon>add</mat-icon>
        </button>

      </fl-section-actions>
    </fl-section-header>

    <ng-container *flSectionBody="let projects">
      <gen-projects-list [projects]="projects"></gen-projects-list>

      <fl-infinite-load-more-result [datasource]="projectsDatasource"></fl-infinite-load-more-result>
    </ng-container>

  </fl-async-section>

</div>
