<form (ngSubmit)="submit()" class="brick-form" [formGroup]="formGp">
  <!--  name  -->
  <mat-form-field class="g-form-input" appearance="fill">
    <mat-label>{{'name' | translate}}</mat-label>
    <input matInput type="text" formControlName="name">
    <mat-error *ngIf="formGp.get('name').hasError('required')">
      {{'name' | flErrorRequired}}
    </mat-error>
  </mat-form-field>

  <!--  description  -->
  <mat-form-field class="g-form-input" appearance="fill">
    <mat-label>{{'description' | translate}}</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="formGp.get('description').hasError('required')">
      {{'description' | flErrorRequired}}
    </mat-error>
  </mat-form-field>

  <!--  version  -->
  <!--  name  -->
  <mat-form-field class="g-form-input" appearance="fill">
    <mat-label>{{'version' | translate}}</mat-label>
    <input matInput type="text" formControlName="version">
    <mat-error *ngIf="formGp.get('version').hasError('required')">
      {{'version' | flErrorRequired}}
    </mat-error>
    <mat-error *ngIf="formGp.get('version').hasError('pattern')">
      {{'version_error_pattern' | translate}}
    </mat-error>
  </mat-form-field>

  <!--  isBeta  -->
  <mat-radio-group formControlName="isBeta" name="type">
    <mat-radio-button [value]="true" class="radio-button-bt">{{'yes' | translate }}</mat-radio-button>
    <mat-radio-button [value]="false" [checked]="true">{{'no' | translate }}</mat-radio-button>
  </mat-radio-group>

  <!--  subPatch  -->
  <mat-form-field class="g-form-input" *ngIf="formGp.value.isBeta">
    <mat-label>{{'beta_number' | translate}}</mat-label>
    <input matInput formControlName="subPatch" required flInputMaxLength="50"
           placeholder="{{'subPatch' | translate}}">
    <mat-error *ngIf="formGp.get('subPatch').hasError('required')">
      {{'version' | flErrorRequired}}
    </mat-error>
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit" class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</form>

