<fl-card>
  <fl-card-header>
    {{resource.name}}

    <fl-card-actions>
      <button mat-icon-button (click)="openResourceDetail()"
         type="button" color="primary"
         [matTooltip]="'biox.resource_preview' | translate">
        <mat-icon>visibility</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <p>{{'resource_type' | translate }} : {{resource.resourceTypeHumanName}}</p>
  </fl-card-body>

  <fl-card-footer class="g-text-light g-text-small">
    <fl-from-now [prefix]="'created' | translate" [date]="resource.createdAt"></fl-from-now>
  </fl-card-footer>
</fl-card>
