<div class="g-card-elevation card g-card-background" fxLayout="column">
  <div fxFlex="auto">
    <ng-content select="gen-card-header">
    </ng-content>
  </div>

  <div fxLayout="row" class="content g-scrollable-element"
       fxFlex="grow" cdkScrollable>

    <!--  Inject card image if it exist  -->
    <ng-content select="gen-card-image"></ng-content>


    <div fxFlex="grow" class="g-full-height">
      <ng-content select="gen-card-body"></ng-content>
    </div>
  </div>

  <ng-content select="gen-card-footer"></ng-content>

</div>
