<!--   Mat menu containing action buttons   -->
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">

  <button mat-menu-item type="button" (click)="openTagFormDialog()">
    <mat-icon>local_offer</mat-icon>
    <span>{{'update_tags' | translate }}</span>
  </button>

  <button mat-menu-item type="button" (click)="openUpdateName()">
    <mat-icon>edit</mat-icon>
    <span>{{'biox.update_view_config_title' | translate}}</span>
  </button>


</mat-menu>
