<fl-card>

  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">dns</mat-icon>
      <h2>{{'server_info_list' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-icon-button type="button"
              (click)="openCreateServerInfo()"
              [matTooltip]="'create_server_info' | translate">
        <mat-icon>add</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>


  <fl-card-body class="limit-height">
    <fl-infinite-scroll [datasource]="serversInfo" class="g-infinite-table"
                        textNoResult="no_server_info">
      <ca-server-info-table [datasource]="serversInfo" [columns]="displayedColumns"></ca-server-info-table>
    </fl-infinite-scroll>
  </fl-card-body>


</fl-card>
