<div class="g-page">
  <h1>{{report.title}}</h1>

  <fl-article-container>

    <fl-article-left-side>

      <!--  Validated info  -->
      <ca-validated-object-info class="separator" [object]="report"
                                *ngIf="report.isValidated"></ca-validated-object-info>

      <!-- Sync ino -->
      <ca-sync-object-info class="separator" [object]="report"></ca-sync-object-info>


      <!--  Created by & Last modified bt  -->
      <p class="g-text-small g-text-light">
        <fl-creation-info [createdBy]="report.createdBy.fullname"
                          [createdAt]="report.createdAt"></fl-creation-info>
      </p>
      <p class="g-text-small g-text-light">
        <fl-last-modification-info [lastModifiedBy]="report.lastModifiedBy.fullname"
                                   [lastModifiedAt]="report.lastModifiedAt"></fl-last-modification-info>
    </fl-article-left-side>

    <fl-article>
      <fl-text-editor [ngModel]="report.content" mode="JSON" [disabled]="true" class="g-full-height" flPrint
                      [config]="textEditorConfig"></fl-text-editor>

    </fl-article>

    <fl-article-right-side>
      <button mat-stroked-button (click)="printReport()" class="g-button-small print-button">
        {{'print_report' | translate}}
        <mat-icon>print</mat-icon>
      </button>
      <ca-experiments-list [experiments$]="experiments$" mode="small"></ca-experiments-list>
    </fl-article-right-side>
  </fl-article-container>
</div>
