<div *ngIf="isLoading; else notLoading"
     fxLayout="row" fxLayoutAlign="start center">
  {{'biox.resource_tab_loading' | translate}}
  <fl-loader [size]="20" class="loader"></fl-loader>
</div>

<ng-template #notLoading>

  <div (auxclick)="onTabClick($event)" fxLayout="row"
       fxLayoutAlign="start center" fxLayoutGap="10px">
    <ng-container *ngIf="isError; else notError">{{'biox.resource_tab_error' | translate}}</ng-container>
    <ng-template #notError>
      <mat-icon [flIcon]="icon"></mat-icon>
      <div>{{title}}</div>
    </ng-template>

    <button mat-icon-button (click)="closeTab()" class="g-button-icon-small" *ngIf="showCloseButton">
      <mat-icon>close</mat-icon>
    </button>
  </div>

</ng-template>
