<mat-table fxFlex="100" mat-table [dataSource]="datasource">


  <!-- Created at -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'created_at' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let lab">
      <span>{{lab.createdAt | flDate}}</span>
    </mat-cell>
  </ng-container>

  <!-- Last Modified at -->
  <ng-container matColumnDef="lastModifiedAt">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'last_modified_at' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let lab">
      <span>{{lab.lastModifiedAt | flDate}}</span>
    </mat-cell>
  </ng-container>


  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      <p>{{column.columnName | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let labInstance">
      <div>
        <span>{{labInstance[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
</mat-table>

