<form (ngSubmit)="submit()" class="brick-form" [formGroup]="formGp">
  <!--  name  -->
  <mat-form-field class="g-form-input" appearance="fill">
    <mat-label>{{'name' | translate}}</mat-label>
    <input matInput type="text" formControlName="name">
    <mat-error *ngIf="formGp.get('name').errors">
      {{'brick_name_error' | translate}}
    </mat-error>
  </mat-form-field>

  <!--  description  -->
  <mat-form-field class="g-form-input" appearance="fill">
    <mat-label>{{'description' | translate}}</mat-label>
    <textarea matInput formControlName="description" maxlength="255"></textarea>
    <mat-error *ngIf="formGp.get('description').hasError('required')">
      {{'description' | flErrorRequired}}
    </mat-error>
  </mat-form-field>

  <!--  gitRepo  -->
  <mat-form-field class="g-form-input" appearance="fill">
    <mat-label>{{'repo_git' | translate}}</mat-label>
    <input matInput type="text" formControlName="repoGit">
    <mat-error *ngIf="formGp.get('repoGit').hasError('required')">
      {{'repo_git' | flErrorRequired}}
    </mat-error>
  </mat-form-field>

  <!--  pipRepo  -->
  <mat-form-field class="g-form-input" appearance="fill">
    <mat-label>{{'repo_pip' | translate}}</mat-label>
    <input matInput type="text" formControlName="repoPip">
    <mat-error *ngIf="formGp.get('repoPip').hasError('required')">
      {{'repo_pip' | flErrorRequired}}
    </mat-error>
  </mat-form-field>

  <ha-add-version-form [formGp]="formGp"></ha-add-version-form>

  <button mat-raised-button color="primary" type="submit" class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</form>

