<fl-portal class="portal">
  <fl-portal-content>
    <div class="current-organization" *ngIf="currentOrganization$ | async as currentOrganization"
         fxLayout="column" fxLayoutAlign="start center">
      <a [routerLink]="currentOrganizationRoute" class="current-orga-photo">
        <ca-organization-photo [organization]="currentOrganization" size="big"></ca-organization-photo>
      </a>

      <div class="g-text-big current-orga-label g-text-link">
        <a [routerLink]="currentOrganizationRoute">{{currentOrganization.label}}</a>
      </div>
    </div>


    <fl-async-section [object]="myOrganizations$" emptyText="">
      <ng-container *flSectionBody="let organizations">

        <mat-divider class="g-full"></mat-divider>
        <a *ngFor="let organization of organizations" [caExternalOrganizationLink]="appRoute"
           [caExternalOrganizationDomain]="organization.domain">
          <ca-organization-inline [organization]="organization" class="organization">
          </ca-organization-inline>
        </a>
      </ng-container>
    </fl-async-section>
  </fl-portal-content>
</fl-portal>
