.card {
  width: 30em;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .login-form {
    min-height: 100vh;
  }
}


.login{
  padding-left: 1em;
  padding-right: 1em;
  display: block;
}
