<fl-text-icon>
  <mat-icon flIcon="view"></mat-icon>
  <h2>{{'biox.available_views' | translate}}</h2>
</fl-text-icon>

<div fxLayout="row wrap">
  <fl-card *ngFor="let viewSpec of viewSpecs$ | async" class="view-spec"
           (click)="openConfigPortal(viewSpec)"
           [ngClass]="{'default-view-spec' : viewSpec.defaultView}">
    <fl-card-body>

      <ng-container *ngIf="viewSpec.viewType | labViewTypeInfo as viewTypeInfo">
        <img *ngIf="viewTypeInfo.image; else icon"
             [src]="viewTypeInfo.image" [alt]="viewTypeInfo.text"
             class="view-image"/>
        <ng-template #icon>
          <mat-icon [flIcon]="viewTypeInfo.icon" class="view-icon"></mat-icon>
        </ng-template>
      </ng-container>

      <div class="view-info">
        <div>{{viewSpec.getName()}}</div>
        <p class="text g-text-small g-text-tiny">{{viewSpec.shortDescription}}</p>
      </div>
    </fl-card-body>
  </fl-card>
</div>
