.view-spec {
  margin-top: 0.6em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  cursor: pointer;
  word-break: break-word;
  width: 12em;
  border: 1px solid transparent;
}

.default-view-spec {
  border-color: var(--primary-color);
}

.view-info {
  margin-top: 0.3em;
}

.text{
  min-height: 2em;
}
