<fl-text-icon>
  <mat-icon flIcon="view"></mat-icon>
  <h2>{{'biox.available_views' | translate}}</h2>
</fl-text-icon>

<div *ngFor="let viewByType of viewsByType$ | async" class="group">
  <fl-text-icon>
    {{viewByType.viewTypeInfo.text | translate}}
    <mat-icon [flIcon]="viewByType.viewTypeInfo.icon"></mat-icon>
  </fl-text-icon>

  <div fxLayout="row wrap" fxLayoutGap="1em">

    <div *ngFor="let view of viewByType.viewSpec"
         class="view-box"
         (click)="openConfigPortal(view, viewByType)">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="text">{{view.getName()}}</div>
        <mat-icon *ngIf="view.defaultView" color="primary"
                  [matTooltip]="'biox.default_view' | translate">done
        </mat-icon>
      </div>

      <p class="text g-text-small g-text-tiny">{{view.shortDescription}}</p>
    </div>
  </div>
</div>
