<mat-sidenav-container class="page" autosize>
  <mat-sidenav mode="side" [opened]="true" position="start"
               [ngClass]="toolbarColorClass | async">

    <fl-expansion-menu [(expanded)]="menuExpanded">

      <div fxLayout="column" class="g-scrollable-element column-container">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
          <a [routerLink]="appRoute">
            <img [src]="logo" alt="Organization logo" class="logo"
                 flBackupImage="assets/logo/logo.png"/>
          </a>

          <div *ngIf="menuExpanded" class="lab-name">{{labName}}</div>
        </div>

        <!-- List of main menu links   -->
        <div fxFlex="auto" class="menu" fxLayout="column">
          <ng-container *ngFor="let link of accessibleLinks">
            <mat-divider *ngIf="link.divider" class="divider"></mat-divider>
            <a mat-button [routerLink]="link.route" class="menu-button"
               flExpansionMenuButton
               routerLinkActive="selected-menu"
               [matTooltip]="link.label | translate" matTooltipPosition="after">
              <mat-icon [flIcon]="link.icon"></mat-icon>
              <span>{{link.label | translate}}</span>
            </a>
          </ng-container>
        </div>

        <!--  Authenticated user info  -->
        <div>

          <!--    Grow/Reduce menu button      -->
          <button mat-button class="menu-button"
                  flExpansionMenuButton flExpansionMenuButtonToggle>
            <mat-icon>{{menuExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
            <span>{{'reduce_menu' | translate}}</span>
          </button>

          <!-- Dashboard button -->
          <a mat-button [href]="centralAppUrl" class="menu-button"
             flExpansionMenuButton routerLinkActive="selected-menu"
             [matTooltip]="'dashboard' | translate" matTooltipPosition="after">
            <mat-icon>dashboard</mat-icon>
            <span>{{'dashboard' | translate}}</span>
          </a>


          <lab-main-menu-settings></lab-main-menu-settings>
        </div>

      </div>
    </fl-expansion-menu>

  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

