
.page {
  min-height: 100vh;
}

.toolbar {
  height: var(--menu-toolbar-height);
  border-bottom: var(--grey-low-contrast) 1px solid;
}

.nav-button {
  opacity: 0.7;
}

.nav-button:hover {
  opacity: 1;
}

// Opacity 1 for the selected menu
.selected-menu {
  opacity: 1;
}

.page-content {
  min-height: calc(100vh - var(--menu-toolbar-height));
}





