<div class="page">

  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z1 toolbar"
               [color]="toolbarColor | async">
    <div fxLayout="row" fxLayoutGap="2em">
      <a *ngFor="let link of accessibleLinks" mat-button [routerLink]="link.route"
         class="nav-button" routerLinkActive="selected-menu">
        <mat-icon [flIcon]="link.icon"></mat-icon>
        {{link.label | translate}}
      </a>
    </div>

    <div>
      <lab-main-menu-settings></lab-main-menu-settings>
    </div>
  </mat-toolbar>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>
