<mat-sidenav-container class="page">
  <mat-sidenav [fixedInViewport]="true" mode="side" [opened]="true" position="start"
               class="sidenav" [ngClass]="toolbarColorClass | async">

    <div fxLayout="column" class="column-container">

      <img src="assets/logo/logo_black.png" alt="Gencovery logo"
           class="logo"/>
      <!-- List of main menu links   -->
      <div fxFlex="auto" class="menu" fxLayout="column">
        <a mat-icon-button [href]="centralAppUrl"
           class="nav-button" routerLinkActive="selected-menu"
           [matTooltip]="'dashboard' | translate" matTooltipPosition="after">
          <mat-icon>dashboard</mat-icon>
        </a>

        <a *ngFor="let link of accessibleLinks" mat-icon-button [routerLink]="link.route"
           class="nav-button" routerLinkActive="selected-menu"
           [matTooltip]="link.label | translate" matTooltipPosition="after">
          <mat-icon [flIcon]="link.icon"></mat-icon>
        </a>
      </div>

      <!--  Authenticated user info  -->
      <div fxLayout="row" fxLayoutAlign="center">
        <lab-main-menu-settings></lab-main-menu-settings>
      </div>

    </div>

  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

