<fl-async-section [object]="brick$" class="full-w">

  <ng-container *flSectionBody="let brick">
      <nav mat-tab-nav-bar mat-align-tabs="center" class="test">
        <a mat-tab-link (click)="activeLink = '.'" routerLink="." [active]="activeLink === '.'"><b>{{brick.name}}</b></a>
        <a mat-tab-link (click)="activeLink = 'doc'" routerLink="doc"
           [active]="activeLink === 'doc'"> Documentation </a>
        <a mat-tab-link (click)="activeLink = 'version'" routerLink="version"
           [active]="activeLink === 'version'"> Versions </a>
      </nav>
    <router-outlet></router-outlet>
  </ng-container>

</fl-async-section>

