
.divider {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}

mat-panel-description {
  margin-right: 0;
}

mat-expansion-panel {
  margin-bottom: 1px;
}


.progress-bar-expansion-panel {
  margin-top: 2em;
}

// limit the height of the expansion panel
::ng-deep .progress-bar-expansion-panel .mat-expansion-panel-content {
  display: block;
  max-height: 30rem;
  overflow: auto;
}

.edit-button {
  margin-right: 1em;
}

.text-info {
  word-break: break-word;
  margin-bottom: 1em;
}

.doc-button {
  display: block;
  margin-inline: auto;
  margin-top: 1em;
}
