<div class="g-page">

  <fl-async-section [object]="space$">

    <ng-container *flSectionBody="let space">
      <ca-current-space-detail></ca-current-space-detail>

      <ca-space-users-list [spaceId]="space.id" class="g-section">

      </ca-space-users-list>

      <!--  Admin section    -->
      <ng-container *caIsSpaceAdmin>
        <ca-space-invit-list
          [spaceId]="space.id" class="g-section">
        </ca-space-invit-list>

        <ca-current-space-lab-instances-list class="g-section">
        </ca-current-space-lab-instances-list>

        <ca-current-space-projects-list class="g-section">
        </ca-current-space-projects-list>

        <ca-current-space-teams-list class="g-section">
        </ca-current-space-teams-list>
      </ng-container>
    </ng-container>
  </fl-async-section>
</div>
