<div class="g-page-fixed">

  <div class="g-page-title nav-bar"
       fxLayout="row" fxLayoutAlign="row center" fxLayoutGap="1em">


    <h1 *ngIf="space$ | async as space"
        class="title">{{space.name | translate}}</h1>

    <a mat-button [routerLink]="dashboardRoute" routerLinkActive="menu-active"
       [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>dashboard</mat-icon>
      {{'admin_dashboard_page' | translate}}
    </a>

    <a mat-button [routerLink]="usersRoute" routerLinkActive="menu-active">
      <mat-icon>people</mat-icon>
      {{'space_users' | translate}}
    </a>

  </div>

  <router-outlet></router-outlet>
</div>
