<fl-search class="g-full-height">

  <!-- Advanced section in the right in a drawer -->
  <fl-search-advanced-form>
    <lab-view-config-search-form></lab-view-config-search-form>
  </fl-search-advanced-form>


  <!--  Center header  -->
  <fl-search-header fxLayout="row">

    <div fxFlex="grow" class="saved-search-container"
         fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
      <fl-text-icon>
        <mat-icon flIcon="view"></mat-icon>
        <h2>{{'biox.viewbox' | translate}}</h2>
      </fl-text-icon>
      <div class="separator"></div>
      <fl-search-saved-list></fl-search-saved-list>
    </div>
  </fl-search-header>


  <fl-search-result>
    <lab-view-config-table [datasource]="datasource" [columns]="columns"
                           (viewConfigSelected)="selectViewConfig($event)"
                           (tagSelected)="searchOnTag($event)"></lab-view-config-table>
  </fl-search-result>

</fl-search>
