<mat-table fxFlex="100" mat-table [dataSource]="datasource" class="table">
  <!-- Title -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="g-cell-header-with-left-border">
      <span> {{'title' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let report" class="g-cell-with-left-border"
              [style.borderLeftColor]="report.project?.id | flStringToRgb">
      <div>
        <div>{{report.title}}</div>
        <fl-text-icon class="g-text-tiny g-text-light" *ngIf="report.project"
                      gap="0">
          <mat-icon flIcon="project" class="g-icon-tiny"></mat-icon>
          {{report.project.title}}
        </fl-text-icon>
      </div>
    </mat-cell>
  </ng-container>

  <!-- LastSync -->
  <ng-container matColumnDef="lastSync">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'last_sync' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let report">
      <div>
        <fl-last-sync-info [lastSyncAt]="report.lastSyncAt" [lastSyncBy]="report.lastSyncBy?.fullname">
        </fl-last-sync-info>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'status' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let report">
      <mat-icon *ngIf="report.isValidated"
                [matTooltip]="'biox.experiment_validated' | translate"
                class="verified-icon" flIcon="validated">
      </mat-icon>

      <fl-status-chip [status]="report.status" mode="iconText">
      </fl-status-chip>
    </mat-cell>
  </ng-container>



  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      {{column.columnName | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let report">
      <div>
        <span>{{report[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>

  <mat-row *matRowDef="let row; columns: _columns;" class="g-table-row-selectable"
           [routerLink]="getReportRoute(row)">
  </mat-row>
</mat-table>
