<fl-card class="card" matRipple>
  <fl-card-header>

    <fl-text-icon>
      <mat-icon class="g-icon-background g-primary-background"
                flIcon="group"></mat-icon>
      <h2>{{team.label}}</h2>
    </fl-text-icon>
  </fl-card-header>


  <fl-card-body class="body">
    <fl-creation-info [createdAt]="team.createdAt" [createdBy]="team.createdBy.fullname"
                      class="g-text-light g-text-small">
    </fl-creation-info>
  </fl-card-body>

  <fl-card-footer>
    <div fxLayout="row" fxLayoutAlign="end" class="g-text-light g-text-small g-full">
      <fl-text-icon iconPosition="end" gap="0">
        <mat-icon>chevron_right</mat-icon>
        {{'go_to_team' | translate}}
      </fl-text-icon>
    </div>
  </fl-card-footer>
</fl-card>
