.container {
  height: 100%;
  margin-bottom: 0;
}

.header-title {
  word-break: break-word;
}

.content-grid {
  display: grid;
  grid-template-columns: 34fr 33fr 33fr;
  grid-template-rows: 49% 49%;
  height: 100%;
  gap: 1%;
  min-height: 40em;
}

.section {
  display: block;
  margin-top: 1em;
}

.left-section {
  grid-row: span 2;
}

.view-specs{
  flex: 2;
}

.sub-left-section{
  flex: 1;
  min-height: 0;
}

@media (max-width: 1290px) {
  .content-grid {
    grid-template-columns: 34fr 66fr;
  }

  .left-section {
    grid-row: span 4;
  }
}

@media (max-width: 959px) {
  .content-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .left-section {
    grid-row: auto;
  }
}
