<fl-section [object]="resource" class="container">

  <fl-section-header>

    <h1 class="header-title">{{resource.name}}</h1>

    <fl-section-actions>
      <!--   Link to resource detail page only for readOnly       -->
      <a mat-stroked-button type="button" *ngIf="readOnly"
         [routerLink]="resource | labDetailRoute"
         class="button g-button-small">
        <mat-icon flIcon="preview"></mat-icon>
        {{'biox.open_resource_page' | translate}}
      </a>

      <lab-resource-actions-menu [readOnly]="readOnly" [resource]="resource" (update)="onUpdate($event)"
                                 (updateTags)="onUpdateTags($event)"
                                 (delete)="onDelete()">

        <button mat-menu-item type="button"
                (click)="openTransformerResource()">
          <mat-icon flIcon="transformer"></mat-icon>
          {{'biox.transformers' | translate}}
        </button>

      </lab-resource-actions-menu>
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBody>
    <div class="content-grid">


      <div class="left-section" fxLayout="column" fxLayoutGap="1em">
        <lab-resource-view-spec-list [resourceId]="resource.id"
                                     [resourceTypingName]="resource.resourceTypingName"
                                     (viewConfigured)="callView($event)"
                                     [ngClass]="{'view-specs' : !resource.hasChildren}"
                                     fxFlex="grow">
        </lab-resource-view-spec-list>
        <lab-resource-children-list *ngIf="resource.hasChildren" fxFlex="50%"
                                    [resourceId]="resource.id"></lab-resource-children-list>
      </div>

      <lab-resource-info [resource]="resource"></lab-resource-info>

      <lab-resource-view-historic [resourceId]="resource.id"></lab-resource-view-historic>


      <lab-experiments-using-resource [resourceId]="resource.id"></lab-experiments-using-resource>

      <lab-reports-using-resource [resourceId]="resource.id"></lab-reports-using-resource>
    </div>
  </ng-container>
</fl-section>
