.container {
  margin-bottom: 0;
  padding-bottom: 1em;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
}

.header-title {
  word-break: break-word;
}

.content-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 34fr 33fr 33fr;
  // set the height of the rows
  grid-auto-rows: minmax(25em, auto);
  min-height: 100%;
}

.view-specs{
  grid-row: span 2;
}

.shared-entity{
  grid-column: span 2;
}

@media (max-width: 1290px) {
  .content-grid {
    grid-template-columns: 34% 66%;
    min-height: initial;
  }

  .shared-entity{
    grid-column: span 1;
  }

  // make children list stay on the left
  .children-list{
    grid-row: 3 / 6;
  }
}

@media (max-width: 959px) {
  .content-grid {
    grid-template-columns: 100%;
    grid-auto-rows: auto 25em 25em 25em 25em 25em 25em;
  }

  .children-list, .view-specs{
    grid-row: span 1;
  }

  .empty{
    display: none;
  }
}
