.main-section{
  margin-bottom: 0;
}

.section {
  padding-top: 1em;
  margin-bottom: 0;
}

.header {
  padding-bottom: 0.3em;
  padding-left: 1em;
}

.header-title {
  word-break: break-word;
}

.button {
  margin-right: 1em;
}

.body {
  height: 100%;
}
