<fl-async-section [arrayObs]="organizations">

  <fl-section-header class="g-page-title">
    <fl-text-icon>
      <mat-icon class="g-icon-big" flIcon="organization"></mat-icon>
      <h2>{{'organization_list' | translate}}</h2>
    </fl-text-icon>

    <fl-section-actions>
      <button mat-flat-button type="button" color="accent"
              class="g-button-small" [matTooltip]="'create_organization' | translate"
              (click)="createOrganization()">
        <mat-icon>add</mat-icon>
      </button>
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBody>
    <fl-card>
      <fl-card-body class="limit-height" (flInfiniteScroll)="loadMoreResults()"
                    [flInfiniteDisabled]="organizations.isLoading || organizations.page?.last">
        <ca-organization-table [datasource]="organizations" [columns]="columns">
        </ca-organization-table>
      </fl-card-body>
    </fl-card>
  </ng-container>


</fl-async-section>
