<fl-card>

  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big" flIcon="organization"></mat-icon>
      <h2>{{'organization_list' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-icon-button type="button"
              [matTooltip]="'create_organization' | translate"
              (click)="createOrganization()">
        <mat-icon>add</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>


  <fl-card-body>
    <fl-infinite-scroll [datasource]="organizations" class="g-infinite-table">
      <ca-organization-table [datasource]="organizations" [columns]="columns">
      </ca-organization-table>
    </fl-infinite-scroll>
  </fl-card-body>


</fl-card>
