
.page {
  min-height: 100vh;
}

.toolbar {
  height: var(--menu-toolbar-height);
}

.nav-button {
  opacity: 0.7;
}

.nav-button:hover {
  opacity: 1;
}

// Opacity 1 for the selected menu
.selected-menu {
  opacity: 1;
}

.page-content {
  min-height: calc(100vh - var(--menu-toolbar-height));
}

.env-toggle {
  // padding to match the menu button
  padding: 10px 16px 0 16px;
  display: block;
}

.documentation {
  padding-left: 16px;
  padding-right: 16px;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
