<div class="g-page">

  <gen-biota-database-search-form (search)="onSearch($event)"></gen-biota-database-search-form>

  <fl-async-section [arrayObs]="biotaDatasource" emptyText="biota.no_entry">

    <ng-container *flSectionBody>
      <gen-biota-database-table [datasource]="biotaDatasource" [columns]="columns"></gen-biota-database-table>
    </ng-container>
  </fl-async-section>

  <!--  <div *ngFor="let group of databasesGroups" class="g-section">-->

  <!--    <div class="g-text-big g-primary-text">-->
  <!--      <fl-text-icon>-->
  <!--        <mat-icon class="g-icon-big" [flIcon]="group.icon"></mat-icon>-->
  <!--        {{group.name | translate}}-->
  <!--      </fl-text-icon>-->
  <!--    </div>-->

  <!--    <div fxLayout="row wrap" fxLayoutGap="2em">-->
  <!--      <a class="database-card" *ngFor="let database of group.databases" [routerLink]="'database/' + database.typingName">-->
  <!--        <gen-biota-database-card [database]="database">-->
  <!--        </gen-biota-database-card>-->
  <!--      </a>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
