<fl-search class="g-full-height">

  <!-- Advanced section in the right in a drawer -->
  <fl-search-advanced-form>
    <lab-resource-advanced-search-form></lab-resource-advanced-search-form>
  </fl-search-advanced-form>


  <!--  Center header  -->
  <fl-search-header fxLayout="row">

    <div fxFlex="grow" class="saved-search-container">
      <fl-search-saved-list></fl-search-saved-list>
    </div>

    <!--   Upload files     -->
    <fl-input-file-icon-container [matTooltip]="'databox.upload_file' | translate" icon="upload_file"
                                  class="upload-button">
      <input flInputFile [multiple]="true" type="file" (fileChange)="uploadFiles($event)"
             [(ngModel)]="files">
    </fl-input-file-icon-container>

    <!--   Upload folders     -->
    <fl-input-file-icon-container [matTooltip]="'databox.upload_folder' | translate" icon="drive_folder_upload"
                                  class="upload-button">
      <input flInputFile type="file" (fileChange)="uploadFolder($event)"
             [(ngModel)]="files" webkitdirectory mozdirectory>
    </fl-input-file-icon-container>
  </fl-search-header>


  <fl-search-result>
    <lab-resource-table [datasource]="datasource" [columns]="columns"
                             [selectableRow]="resourceSelectable"
                             (resourceSelected)="selectResource($event)"></lab-resource-table>
  </fl-search-result>


</fl-search>
