<div fxLayout="column" fxFlex="grow">
  <div fxFlex="auto">
    <ng-content select="gen-section-header">
    </ng-content>
  </div>

  <div class="content" fxFlex="grow">
    <div *ngIf="_isLoading; else notLoading" fxLayoutAlign="center center">
      <gen-loader size="medium"></gen-loader>
    </div>

    <ng-template #notLoading>
      <div *ngIf="objectIsNullOrEmpty" class="g-text-centered g-text-light">
        <p>{{emptyText | translate}}</p>
        <mat-icon>block</mat-icon>
      </div>
    </ng-template>

    <!--  Render the body  -->
    <ng-template [cdkPortalOutlet]="portal"></ng-template>
  </div>

</div>
