// override padding to improve drawer style
.page{
  padding: 0;
}

.section{
  margin-bottom: 0;
  display: block;
  border-top: var(--grey-low-contrast) 1px solid;
}

::ng-deep{
  .mat-tab-header{
    background-color: var(--card-background);
  }
}
