<fl-dialog-title>
  {{'biox.configuration' | translate}}
</fl-dialog-title>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="config-form" [formGroup]="formGp">
    <gen-biox-configure-specs-form [bioxConfigData]="bioxConfigData"
                                   [formGp]="formGp"></gen-biox-configure-specs-form>
  </form>
</mat-dialog-content>


<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" form="config-form"
          class="g-centered-forced">
    {{'save' | translate}}
  </button>
</div>

