.action-buttons {
  display: none;
}

.element {
  cursor: pointer;
}

.element:hover {
  background-color: var(--grey-low-contrast);
}

.key {
  border-radius: 20px;
  padding: 0.5em;
}

.key:hover .action-buttons {
  display: block;
}

.key-text {
  margin-left: 0.5em;
}

.values-container {
}

.value {
  display: block;
  padding: 0.3em 1em 0.3em 3.3em;
  border: 2px solid transparent;
  border-radius: 20px;
}


.value:hover .action-buttons {
  display: block;
}

.selected {
  border-color: var(--color-foreground);
}

.color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
