/* You can add global styles to this file, and also import other style files */

// Import theme for material
@import "libs/front-core-lib/src/style/theme/theme";
// Import the style for the library
@import "libs/front-core-lib/src/style/global";

// Import the style for material
@import "libs/front-core-lib/src/style/material-override";
@import "libs/front-core-lib/src/style/dialog";
@import "libs/front-core-lib/src/style/icon";
@import "libs/front-core-lib/src/style/fl-drag";

// Import quill style
@import "libs/front-core-lib/src/style/quill";

// Import markdown style
@import "libs/technical-doc/src/style/markdown";

// Style to highlight code in text editor
@import 'highlight.js/styles/monokai-sublime.css';

.g-form-input {
    width: 100%;
    margin-bottom: 20px;
}

.g-page {
  padding: 2em 2em 0 2em;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body{
  font-size: 16px;
}

h1, h2, h3, h4, h5{
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 67.3px;
}

h2 {
  font-size: 50.5px;
}

h3 {
  font-size: 37.9px;
}

h4 {
  font-size: 28.4px;
}

h5 {
  font-size: 21.3px;
}

.small-text {
  font-size: 12px !important;
}

.very-small-text {
  font-size: 9px;
}

@media (max-width: 599px) {
  .g-page {
    padding: 1em 1em 0 1em;
  }
}
