<fl-dialog-header>
  {{title | translate}}
</fl-dialog-header>

<mat-dialog-content>

  <fl-section [object]="fileTypes" [isLoading]="getFileTypeIsLoading">

    <ng-container *flSectionBody>

      <form (ngSubmit)="submit()" id="file-type-form" [formGroup]="formGp">


        <!--     When uploading a folder, we show 2 options  -->
        <div *ngIf="selectedNodes === 'folder'" class="folder-mode">
          <mat-radio-group class="g-mat-radio-wrap-text" formControlName="uploadMode">
            <mat-radio-button value="files">{{'databox.folder_upload_files_options' | translate }}</mat-radio-button>
            <mat-radio-button value="folder"
                              class="radio-button">{{'databox.folder_upload_folder_options' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>

        <!--    Selection of the folder types    -->
        <ng-container *ngIf="showSelectFileTypes" formArrayName="files">
          <div *ngFor="let control of formArray.controls; index as i" [formGroupName]="i">

            <div fxLayout="row" fxLayoutAlign="space-between">


              <p fxFlex="39%" class="filename">{{control.get('file').value.name}}</p>

              <!--  File type  -->
              <mat-form-field fxFlex="59%">
                <mat-label>{{'databox.select_file_type' | translate}}</mat-label>
                <mat-select formControlName="typingName" placeholder="{{'databox.select_file_type' | translate}}"
                            required>
                  <mat-option *ngFor="let fileType of fileTypes" [value]="fileType.typingName">
                    {{fileType.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="control.get('typingName').hasError('required')">
                  {{'databox.select_file_type' | flErrorRequired}}
                </mat-error>
              </mat-form-field>
            </div>

            <mat-divider class="divider"></mat-divider>
          </div>
        </ng-container>
      </form>
    </ng-container>
  </fl-section>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" form="file-type-form"
          class="g-centered-forced">
    {{'databox.upload_file' | translate}}
  </button>
</div>
