<fl-dialog-title>
  {{title}}
</fl-dialog-title>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="config-form" [formGroup]="formGp">
    <gen-biox-configure-specs-form [bioxConfigData]="configs" [formGp]="formGp"></gen-biox-configure-specs-form>

    <div *ngIf="showDisplayModeControl" class="display-mode">
      <label >{{'biox.resource_view_display_mode' | translate}}</label>
      <mat-radio-group formControlName="displayMode" color="primary">
        <mat-radio-button value="fullScreen" class="display-mode-label">{{'biox.resource_view_display_component' | translate}}</mat-radio-button>
        <mat-radio-button value="portal" class="display-mode-label">{{'biox.resource_view_display_portal' | translate}}</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</mat-dialog-content>


<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" form="config-form"
          class="g-centered-forced">
    {{'biox.show_view' | translate}}
  </button>
</div>

