<fl-async-section [object]="brick$" class="full-w">

  <ng-container *flSectionBody="let brick">

    <fl-article-container class="brickCard">
      <fl-article>
        <h1>
          {{ brick.name }}
        </h1>
        <p>
          {{brick.description}}
        </p>
        <button mat-flat-button color="primary" *haIsAdmin class="button-add-version">
          Add Version
        </button>
      </fl-article>
    </fl-article-container>
    <router-outlet></router-outlet>
  </ng-container>

</fl-async-section>

