<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <fl-text-icon>
      <mat-icon class="g-icon-big" svgIcon="project"></mat-icon>
      <h1>{{project.code}}</h1>
    </fl-text-icon>

    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button type="button" (click)="openStatusHistory()"
              [matTooltip]="'status_history' | translate">
        <mat-icon>history</mat-icon>
      </button>
      <fl-status-chip class="status" [status]="project.currentStatus.status"></fl-status-chip>
    </div>
  </div>

  <fl-card>
    <fl-card-header>
      <h2>{{project.title}}</h2>
    </fl-card-header>

    <fl-card-body>
      <fl-text-icon class="dates">
        <mat-icon>date_range</mat-icon>
        <fl-date-range [startingDate]="project.startingDate" [endingDate]="project.endingDate">
        </fl-date-range>
      </fl-text-icon>

      <div class="description">
        <div *ngIf="project.description; else noDesc" [innerHTML]="project.description"></div>
        <ng-template #noDesc>
          <fl-error-text>
            <p>{{'no_description' | translate}}</p>
          </fl-error-text>
        </ng-template>
      </div>

    </fl-card-body>

    <fl-card-footer layoutGap="0.5em">
      <button mat-button type="button" color="primary" (click)="openUpdateStatusDialog()"
              class="button">
        {{'update_status' | translate}}
      </button>
      <button mat-button type="button" color="primary" (click)="openUpdateProjectDialog()"
              class="button">
        <mat-icon>edit</mat-icon>
        <span>{{'edit' | translate}}</span>
      </button>
      <button mat-button type="button" color="primary" disabled
              class="button">
        <mat-icon svgIcon="share_arrow"></mat-icon>
        <span>{{'share' | translate}}</span>
      </button>
    </fl-card-footer>
  </fl-card>
</div>
