<div [formGroup]="formGp">

  <mat-form-field class="g-full">
    <mat-label>{{'biox.resource_type_select' | translate}}</mat-label>
    <mat-select formControlName="resource_typing_name"
                (selectionChange)="onResourceTypeChange()">
      <gen-biox-resource-type-select-options></gen-biox-resource-type-select-options>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="g-full">
    <mat-label>{{'biox.resource_select' | translate}}</mat-label>
    <mat-select formControlName="resource_id"
                (selectionChange)="onResourceChange()">
      <gen-biox-resource-select-options [ressourceType]="selectedType"
                                        valueMode="id"></gen-biox-resource-select-options>
    </mat-select>
  </mat-form-field>

</div>
