<fl-card id="lab-manager">

  <fl-card-header>
    <fl-text-icon>
      <mat-icon>engineering</mat-icon>
      <h2>{{'lab_manager' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions class="action-buttons">

      <button mat-stroked-button type="button" class="g-button-small" (click)="openStatusDialog()">
        <mat-icon>info</mat-icon>
        <span>{{'lab_check_status' | translate}}</span>
      </button>

      <button mat-stroked-button type="button" class="g-button-small button" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        <span>{{'lab_manager_refresh' | translate}}</span>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>

    <!--  Global status  -->
    <fl-async-section [object]="labManagerStatus$" [showServerErrorText]="true" emptyText="lab_manager_not_running">
      <ng-container *flSectionBody="let labStatus">
        <ca-lab-instance-manager-status [labStatus]="labStatus"
                                        [adminerUrl]="labInstance.adminerUrl"></ca-lab-instance-manager-status>


        <!--  Action button  -->
        <div class="action-buttons g-section">
          <button mat-stroked-button type="button" color="primary"
                  class="g-button-small" (click)="initAll()">Init all
          </button>
          <button mat-stroked-button type="button" color="primary"
                  class="g-button-small" (click)="upContainers()">Up containers
          </button>
          <button mat-stroked-button type="button" color="primary"
                  class="g-button-small" (click)="restartContainers()">Restart containers
          </button>
          <button mat-stroked-button type="button" color="primary"
                  class="g-button-small" (click)="pullContainers()">Pull containers
          </button>
          <button mat-stroked-button type="button" color="primary"
                  class="g-button-small" (click)="pullBiotaDb()">Pull biota
          </button>
          <button mat-stroked-button type="button" color="primary"
                  class="g-button-small" (click)="registryLogin()">Registry login
          </button>
          <button mat-stroked-button type="button" color="warn"
                  class="g-button-small" (click)="downContainers()">Down containers
          </button>
          <button mat-stroked-button type="button" color="warn"
                  class="g-button-small" (click)="stopCurrentTask()">Stop current task
          </button>
          <button mat-stroked-button type="button" color="warn"
                  class="g-button-small" (click)="systemPrune()">System prune
          </button>

          <button mat-stroked-button type="button" color="warn"
                  class="g-button-small" (click)="startAdminer()">Start adminer
          </button>

          <button mat-stroked-button type="button" color="warn"
                  class="g-button-small" (click)="stopAdminer()">Stop adminer
          </button>
        </div>


        <!--  Lab config  -->
        <ca-lab-instance-config [labInstanceId]="labInstance.id"
                                class="g-section content"></ca-lab-instance-config>

      </ng-container>
    </fl-async-section>

    <mat-divider class="divider"></mat-divider>
    <!--  List of containers  -->
    <ca-lab-docker-containers [labInstanceId]="labInstance.id"></ca-lab-docker-containers>

  </fl-card-body>

</fl-card>
