<div class="container g-scrollable-element" fxLayout="column">

  <div fxLayout="row" fxLayoutAlign="end center"
       cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
       cdkDragBoundary="body" class="header">

    <button mat-icon-button type="button" flPortalClose
            [matTooltip]="'close' | translate">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <gen-biox-resource-view [view]="view" [style.width]="width" [style.height]="height"></gen-biox-resource-view>


</div>
