.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

@media (max-width: 1279px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 959px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}


.add-card {
  position: relative;
  background-color: var(--grey-low-contrast);
  cursor: pointer;
  min-height: 10em;
}

.add-card:hover {
  background-color: var(--grey-contrast);
}

.add-text{
  font-size: 8em;
  position: absolute;
  bottom: -0.4em;
  right: 10px;
  font-weight: 100;

}
