/* You can add global styles to this file, and also import other style files */

// Import theme for material
@import "libs/front-core-lib/src/style/theme/theme";
// Import the style for the library
@import "libs/front-core-lib/src/style/global";

// Import the style for material
@import "libs/front-core-lib/src/style/material-override";
@import "libs/front-core-lib/src/style/dialog";
@import "libs/front-core-lib/src/style/icon";

// Import quill style
@import "libs/front-core-lib/src/style/quill";

// Style to highlight code in text editor
@import 'highlight.js/styles/monokai-sublime.css';


html, body {
  height: 100%;
}

body {
  margin: 0;
}

.g-page, .g-page-fixed {
  padding: 2em 2em 0 2em;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.g-page-fixed {
  height: 100vh;
  max-height: 100vh;
}

@media (max-width: 599px) {
  .g-page, .g-page-fixed {
    padding: 1em 1em 0 1em;
  }
}

/**
 * Default max size to use when a table uses an infinite scroll
 */
.g-infinite-table {
  max-height: 20em;
}
