<fl-card *ngIf="organization$ | async as organization">
  <fl-card-header>

    <fl-card-actions>
      <ng-container *caIsAdmin>

        <button mat-icon-button type="button" (click)="openUploadPhotoDialog(organization)"
                [matTooltip]="'organization_upload_photo' | translate">
          <mat-icon>photo_camera</mat-icon>
        </button>

        <button mat-icon-button type="button" (click)="openUpdateDialog(organization)"
                [matTooltip]="'update_organization' | translate">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button type="button" color="warn" (click)="openDeleteOrganization(organization)"
                [matTooltip]="'delete_organization' | translate">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <div fxLayout="column" fxLayoutAlign="start center">
      <ca-organization-photo size="big" [organization]="organization$"></ca-organization-photo>
      <h1 class="title">{{organization.label}}</h1>
    </div>

    <fl-key-value>
      <fl-key>{{'organization_domain' | translate}}</fl-key>
      {{organization.domain}}
    </fl-key-value>

    <fl-key-value>
      <fl-key>{{'nb_of_licenses' | translate}}</fl-key>
      {{organization.nbLicenses}}
    </fl-key-value>
  </fl-card-body>
</fl-card>
