// override default page padding
.page {
  padding: var(--main-menu-margin) 1em 0 1em;
}

.section{
  flex: 1;
}

.button{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.text-editor-edit{
  border-color: var(--hover-color);
}
