<div class="g-page">

  <fl-async-section [arrayObs]="protocolsDatasource" emptyText="no_protocol">

    <fl-section-header class="g-page-title">
      <fl-text-icon iconPosition="start">
        <mat-icon class="g-icon-big" svgIcon="protocol"></mat-icon>
        <h1>{{'protocols' | translate}}</h1>
      </fl-text-icon>

      <fl-section-actions>
        <button mat-raised-button type="button" color="accent" (click)="createProtocol()"
                class="g-button-small" [matTooltip]="'new_protocol' | translate">
          <mat-icon>add</mat-icon>
        </button>
      </fl-section-actions>
    </fl-section-header>


    <ng-container *flSectionBody="let protocols">

      <fl-card>
        <fl-card-body>
          <gen-protocols-list [protocols]="protocols"></gen-protocols-list>

          <fl-infinite-load-more-result [datasource]="protocolsDatasource"></fl-infinite-load-more-result>

        </fl-card-body>
      </fl-card>

    </ng-container>
  </fl-async-section>
</div>

