<div class="g-page">

  <gen-async-section [arrayObs]="protocolsDatasource" emptyText="no_protocol">

    <gen-section-header class="g-page-title">
      <gen-text-icon iconPosition="start">
        <mat-icon class="g-icon-big" svgIcon="protocol"></mat-icon>
        <h1>{{'protocols' | translate}}</h1>
      </gen-text-icon>

      <gen-section-actions>
        <button mat-raised-button type="button" color="accent" (click)="createProtocol()"
                class="g-button-small" [matTooltip]="'new_protocol' | translate">
          <mat-icon>add</mat-icon>
        </button>
      </gen-section-actions>
    </gen-section-header>


    <ng-container *genSectionBody="let protocols">

      <gen-card>
        <gen-card-body>
          <gen-protocols-list [protocols]="protocols"></gen-protocols-list>

          <gen-pagination-load-more-result [datasource]="protocolsDatasource"></gen-pagination-load-more-result>

        </gen-card-body>
      </gen-card>

    </ng-container>
  </gen-async-section>
</div>

