.brick-description{
  width: 80%;
  margin-left: 10%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.brick-name{
  margin-right: 1em;
}

.brick-description .side-description-div{
  width: 50%;
  padding: 1em 3em;
}

.brick-description .right-side-div{
  border-left: 2px solid var(--card-background);
}

.brick-logo{
  height: 120px;
  min-width: 120px;

  background-image: url("../../../../../assets/images/gencovery-logo.png");
  background-size: cover;
  background-position: center;
}

.main-description-div{
  display: flex;
  flex-direction: row;

}

.brick-info{
  padding-left: 1em;
  flex: auto;
}

.left-side-div{
  display: flex;
  flex-direction: column;
}

.tags-div{
  margin-top: 1em;
  max-width: 100%;
}

.display-inline{
  display: flex;
  flex-direction: row;
  font-size: 1em;
  align-items: center;
  width: 100%;
}

.button-edit{
  margin-left: auto;
}

.creator-info{
  margin-left: 0.5em;
  line-height: 2em;
}

.edit-button-div{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

.brick-description-value{
  white-space: pre-line;
}


@media (max-width: 1279px) {
  .brick-description{
    width: 90%;
    margin-left: 5%;
  }
}

@media (max-width: 959px) {
  .brick-description{
    flex-direction: column;
  }

  .brick-description .side-description-div{
    width: 100%;
    padding: 1em 1em;
  }

  .brick-description .right-side-div{
    border: none;
  }
}

@media (max-width: 599px) {
  .brick-description .side-description-div{
    padding: 1em 0;
  }

  .brick-info{
    padding: 0;
  }

  .main-description-div{
    flex-direction: column;
  }

  .brick-logo{
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1em;
  }
}
