<div class="brick-description" *ngIf="brick != null && lastVersion != null">
  <div class="left-side-div side-description-div">
    <div class="main-description-div">
      <div class="brick-logo" [style.background-image]="
      brick.imageLink ? 'url(\''+ brick.imageLink +'\')' :
      'url(\'assets/logo/logo.png\')'"></div>
      <div class="brick-info">
        <span class="display-inline">
          <mat-icon *ngIf="brick.visibility === 'private'" matTooltip="{{'private_brick' | translate}}">
            lock
          </mat-icon>
          <mat-icon *ngIf="brick.visibility === 'public'" matTooltip="{{'public_brick' | translate}}">
            public
          </mat-icon>
          <h2 class="brick-name">{{brick.name}}</h2>
          <fl-text-icon iconPosition="end" gap="0.2em"><mat-icon
            class="mat-primary">check</mat-icon>Verified
          </fl-text-icon>
          <button mat-icon-button color="primary" (click)="createEditBrickDialog()" *haIsAdmin class="button-edit">
            <mat-icon>edit</mat-icon>
          </button>
        </span>
        <br>
        <fl-key-value class="brick-description-value">
          <fl-key>{{'description' | translate}}</fl-key>
          {{brick.description}}
        </fl-key-value>
        <br>
        <fl-key-value>
          <fl-key>{{'version' | translate}}</fl-key>
          {{lastVersion.toString()}}
        </fl-key-value>
        <br>
      </div>
    </div>
    <div class="tags-div">
      <mat-chip-list>
        <mat-chip>Gencovery Data</mat-chip>
        <mat-chip>Analysis</mat-chip>
        <mat-chip>Verified</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="right-side-div side-description-div">
    <h2>{{'technical_information' | translate}}</h2>
    <br *ngIf="brick.gitRepo">
    <fl-key-value *ngIf="brick.gitRepo">
      <fl-key>{{'repo_git' | translate}}</fl-key>
      {{brick.gitRepo}}
    </fl-key-value>
    <br *ngIf="brick.pipRepo">
    <fl-key-value *ngIf="brick.pipRepo">
      <fl-key>{{'repo_pip' | translate}}</fl-key>
      {{brick.pipRepo}}
    </fl-key-value>
    <br>
    <fl-key-value>
      <fl-key>{{'type_of_repository' | translate}}</fl-key>
      {{latestBrickVersion.repoType}}
    </fl-key-value>
    <br>
    <fl-key-value *ngIf="references && references.length > 0">
      <fl-key>References</fl-key>
      <div *ngFor="let r of references">
        <a [routerLink]="'../../../' + r.name">{{r.name}}</a> v{{r.version}}
      </div>
    </fl-key-value>
    <br>
    <div class="display-inline">
      <fl-user-profile-picture [user]="brick.createdBy"></fl-user-profile-picture>
      <fl-creation-info [createdAt]="brick.createdAt" [createdBy]="brick.createdBy.fullname"
                        class="creator-info"></fl-creation-info>
    </div>
  </div>
</div>
