<mat-card class="brick-description" *ngIf="brick != null">
  <fl-key-value>
    <fl-key>{{'description' | translate}}</fl-key>
    {{brick.description}}
  </fl-key-value>
  <br>
  <fl-key-value>
    <fl-key>{{'creation_info' | translate}}</fl-key>
    <fl-creation-info [createdAt]="brick.createdAt" [createdBy]="brick.createdBy.fullname"></fl-creation-info>
  </fl-key-value>
  <br>
  <fl-key-value>
    <fl-key>{{'repo_git' | translate}}</fl-key>
    {{brick.gitRepo}}
  </fl-key-value>
  <br>
  <fl-key-value>
    <fl-key>{{'repo_pip' | translate}}</fl-key>
    {{brick.pipRepo}}
  </fl-key-value>
  <br>
  <fl-async-section [object]="latestBrickVersion$">
    <ng-container *flSectionBody="let latestBrickVersion">
      <fl-key-value>
        <fl-key>{{'type_of_repository' | translate}}</fl-key>
        {{latestBrickVersion.repoType}}
      </fl-key-value>
    </ng-container>
  </fl-async-section>
</mat-card>

