<fl-dialog-header>
  {{'lab_manager_compose_up_form' | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="lab-up-form" [formGroup]="formGp"
        class="form">

    <!--  Update bricks  -->
    <mat-checkbox formControlName="updateBricks">
      {{'lab_update_bricks' | translate}}
    </mat-checkbox>

  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" form="lab-up-form"
          class="g-centered-forced">
    {{'lab_start_container' | translate}}
  </button>
</div>
