<fl-card class="card" matRipple>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-background g-primary-background"
                flIcon="smart_db"></mat-icon>
      <h2>{{smartDb.name}}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <fl-status-chip [status]="smartDb.type"
                      mode="iconOnly">
      </fl-status-chip>
    </fl-card-actions>
  </fl-card-header>


  <fl-card-body>
    <fl-creation-info [createdAt]="smartDb.createdAt" [createdBy]="smartDb.createdBy.fullname"
                      class="g-text-light g-text-small">
    </fl-creation-info>

  </fl-card-body>
</fl-card>
