.input-div{
  width: 100%;
  text-align: center;
}

.bt-input-div{
  width: 40%;
  margin-left: 30%;
  margin-bottom: 1em;
  font-size: 0.8em;
}

#add-version-form{
  width: 80%;
  margin-left: 10%;
  margin-top: 1em;
}

.kv{
  margin-top: 0.5em;
}

.ref-div{
  margin-left: 1em;
}

.divider, .input, .bt-input-div{
  margin-top: 1em;
}
