<div fxLayout="row" class="profile">
  <fl-user-profile-picture [user]="user" [size]="'big'">
  </fl-user-profile-picture>
  <div class="user-info">
    <fl-key-value>
      <fl-key class="k">{{'name' | translate}}</fl-key>
      {{user.fullname}}
    </fl-key-value>
    <fl-key-value>
      <fl-key class="k">{{'email' | translate}}</fl-key>
      {{user.email}}
    </fl-key-value>
    <fl-key-value *ngIf="user.company">
      <fl-key class="k">{{'company' | translate}}</fl-key>
      {{user.company}}
    </fl-key-value>
    <fl-key-value *ngIf="user.function">
      <fl-key class="k">{{'function' | translate}}</fl-key>
      {{user.function}}
    </fl-key-value>
    <fl-key-value *ngIf="user.biography">
      <fl-key class="k">{{'biography' | translate}}</fl-key>
      {{user.biography}}
    </fl-key-value>
  </div>
  <div class="edit-profile">
    <button mat-stroked-button type="button" (click)="openEditProfileDialog()">{{'edit' | translate}}</button>
  </div>
</div>


