.profile{
  width: 100%;
  vertical-align: center;
  align-items: center;
}

.user-info{
  margin-left: 2em;
  border-left: 2px solid var(--grey-low-contrast);
  padding-left: 0.5em;
  height: 100% !important;
}

.edit-profile{
  margin-left: 2em;
}
