<mat-toolbar class="nav-bar">
  <span>Gencovery hub</span>
  <span class="option"><a routerLink="../">Bricks list</a></span>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" *ngIf="!(userConnected | async)" class="g-centered-forced" (click)="openLoginDialog()">
    {{'login' | translate}}
  </button>
  <span class="g-centered-forced" [matMenuTriggerFor]="userMenu" *ngIf="userConnected | async"><user-initilias-icon [userConnected]="(userConnected | async)"></user-initilias-icon></span>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="'../admin'">{{'admin_dashboard' | translate}}</button>
    <button mat-menu-item (click)="logout()">{{'logout' |translate}}</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
