.gencovery-logo{
  height: 2.5em;
  margin: 0;
}

.gencovery-logo img{
  height: 100%;
}

.bt-register{
  margin-right: 0.5em !important;
}

.nav-bar{
  background-color: var(--card-background);
  padding: 1em 5%;
  height: 4.5em !important;
  display: flex;
}

.spacer{
  flex: 1 1 auto;
}

.option{
  margin-left: 5em;
}

@media (max-width: 1280px) {
  .option{
    margin-left: 3em;
  }
}

@media (max-width: 599px) {
  .nav-bar{
    padding: 1em 1%;
  }
  .option{
    font-size: 2em;
    margin-left: 1.5em;
  }
}

.span-initials:hover{
  cursor: pointer;
}
