<!--  Start and stop button  -->
<button *ngIf="labInstance.isRunning(); else stopped" mat-stroked-button color="warn" type="button"
        (click)="stopLab($event)" class="g-button-small" (mousedown)="stopEventPropagation($event)">
  <mat-icon>stop</mat-icon>
  <span>{{'stop_lab' | translate}}</span>
  <fl-button-loader *ngIf="isLoading" size="small" position="override"></fl-button-loader>
</button>
<ng-template #stopped>
  <button mat-stroked-button color="primary" type="button"
          (click)="startLab($event)" class="g-button-small" (mousedown)="stopEventPropagation($event)">
    <mat-icon>play_arrow</mat-icon>
    <span>{{'start_lab' | translate}}</span>
    <fl-button-loader *ngIf="isLoading" size="small" position="override"></fl-button-loader>
  </button>
</ng-template>
