<fl-async-section [object]="documentation$" class="h100">

  <ng-container *flSectionBody="let documentation">
    <div class="sidenavBody">
      <div class="content g-max-article-width">
        <form class="documentation-form" [formGroup]="formGp">
          <fl-text-editor formControlName="content" mode="JSON"
                          class="contentEditor contentEditorBorder g-scrollable-element"
                          (textChange)="onContentUpdate($event)" [disabled]="!(isAdmin | async)"></fl-text-editor>
        </form>
      </div>
      <div class="side">

      </div>
    </div>
  </ng-container>
</fl-async-section>
