<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">

  <span>{{node.name}}</span>


  <button *ngIf="!node.resource_model_id; else resource" mat-stroked-button type="button" class="g-button-small"
          (click)="extractNodeClick()">
    {{extractText | translate}}
  </button>

  <ng-template #resource>
    <a mat-stroked-button [routerLink]="node.resource_model_id | labDetailRoute:'resource'"
       class="g-button-small">
      <mat-icon>visibility</mat-icon>
      {{'biox.view_resource' | translate}}
    </a>
  </ng-template>

</div>
