<fl-card class="card" matRipple>

  <fl-card-header>
    <!--  Title and logo    -->
    <fl-text-icon>
      <mat-icon class="g-icon-background g-primary-background"
                flIcon="lab"></mat-icon>
      <h2>{{labInstance.name}}</h2>
    </fl-text-icon>
  </fl-card-header>


  <fl-card-body>
    <ca-city [city]="labInstance.city"></ca-city>

    <div class="g-text-light g-text-small since-the">
      {{labInstance.currentStatus.status.name | translate}} {{'since_the' | translate}}
      {{labInstance.currentStatus.createdAt | flDate}}
    </div>


    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em" class="action-buttons">
      <ca-lab-login-button *ngIf="labInstance.isRunning()" [labInstanceId]="labInstance.id"
                           size="small">
      </ca-lab-login-button>
      <ca-lab-instance-start-stop [labInstance]="labInstance" (update)="onLabUpdate($event)">
      </ca-lab-instance-start-stop>
    </div>
  </fl-card-body>


  <fl-card-footer>
    <div fxLayout="row" fxLayoutAlign="end" class="g-text-light g-text-small g-full">
      <fl-text-icon iconPosition="end" gap="0">
        <mat-icon>chevron_right</mat-icon>
        {{'go_to_lab' | translate}}
      </fl-text-icon>
    </div>
  </fl-card-footer>

</fl-card>
