<a [routerLink]="labInstance | caDetailRoute">
  <fl-card class="card">

    <fl-card-header>
      <!--  Title and logo    -->
      <div fxLayout="row wrap" fxLayoutAlign="start center" class="lab-title">
        <mat-icon class="icon g-icon-big" *ngIf="mode === 'big'" flIcon="lab"></mat-icon>
        <h2>{{labInstance.name}}</h2>
      </div>



      <fl-card-actions>
        <fl-status-chip class="status" [status]="labInstance.currentStatus.status"
                        [mode]="statusChipMode"></fl-status-chip>
      </fl-card-actions>
    </fl-card-header>


    <fl-card-body class="body">
      <div class="g-text-light g-text-small lab-city">
        <ca-lab-instance-city [city]="labInstance.city"></ca-lab-instance-city>
      </div>

      <div class="g-text-light g-text-small">
        {{labInstance.currentStatus.status.name | translate}} {{'since_the' | translate}}
        {{labInstance.currentStatus.createdAt | flDate}}
      </div>




    </fl-card-body>

    <fl-card-footer layoutGap="0.5em">
      <ca-lab-login-button *ngIf="labInstance.isRunning()" [labInstanceId]="labInstance.id"
                           size="small">
      </ca-lab-login-button>
      <ca-lab-instance-start-stop [labInstance]="labInstance" (update)="onLabUpdate($event)">
      </ca-lab-instance-start-stop>
    </fl-card-footer>

  </fl-card>
</a>
