.card {
  width: 100%;
  height: 100%;
  display: block;
}

.icon{
  margin-right: 0.5em;
}

.status{
  margin-left: 1em;
}

.lab-title{
  display: flex;
  flex-direction: row;
}

.lab-country{
  width: 1.75em;
  margin-left: 0.5em;
}

.lab-city{
  margin-left: -0.3em;
}
