<mat-table fxFlex="100" mat-table [dataSource]="datasource">

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'name' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="g-cell-with-left-border"
              [style.borderLeftColor]="resource.experiment?.id | flStringToRgb">
      <div>
        <div class="name" [matTooltip]="resource.name"
             [matTooltipShowDelay]="1000" matTooltipPosition="after">{{resource.name}}</div>
        <fl-text-icon class="g-text-tiny g-text-light" *ngIf="resource.experiment"
                      gap="0">
          <mat-icon flIcon="experiment" class="g-icon-tiny"></mat-icon>
          {{resource.experiment.title}}
        </fl-text-icon>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Created -->
  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'creation_info' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      <fl-creation-info [createdAt]="resource.createdAt"
                        [createdBy]="resource.createdBy.fullname"
                        class="g-text-small">
      </fl-creation-info>
      <!--      <fl-from-now [date]="resource.createdAt"></fl-from-now>-->
    </mat-cell>
  </ng-container>


  <!-- Info -->
  <ng-container matColumnDef="info">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'resource_info' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      <div *ngIf="resource.fsNode?.size != null">
        {{resource.fsNode.size | flByteText}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Tags -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef class="g-column-width-2">
      <span> {{'tags' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="g-column-width-2 tags">
      <fl-tag-list [tags]="resource.tags" [limitNumber]="6"
                   [tagSelectable]="true" (tagSelected)="onTagSelected($event)"></fl-tag-list>
    </mat-cell>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="action-column">
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="action-column">

      <lab-resource-actions-menu [resource]="resource" (update)="onUpdate($event)"
                                 (updateTags)="onUpdateTags(resource, $event)"
                                 (delete)="onDelete(resource)"
                                 (click)="stopEventPropagation($event)">
      </lab-resource-actions-menu>

    </mat-cell>
  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      {{column.columnName | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <div>
        <span>{{user[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>

  <!-- Mode selectable -->
  <ng-container *ngIf="selectableRow; else notSelectable">
    <mat-row *matRowDef="let row; columns: _columns;" class="g-table-row-selectable"
             (click)="rowClicked(row)"
             flDragHover="drag-element" [flDragHoverMode]="supportedDropType" (flDrop)="onDrop(row, $event)"></mat-row>
  </ng-container>

  <!-- Mode link -->
  <ng-template #notSelectable>
    <mat-row *matRowDef="let row; columns: _columns;" class="g-table-row-selectable"
             [routerLink]="row | labDetailRoute"
             flDragHover="drag-element" [flDragHoverMode]="supportedDropType" (flDrop)="onDrop(row, $event)"></mat-row>
  </ng-template>
</mat-table>

