<mat-table fxFlex="100" mat-table [dataSource]="datasource">

  <!-- CreatedAt -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'creation_date' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      <fl-from-now [date]="resource.createdAt"></fl-from-now>
    </mat-cell>
  </ng-container>

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'name' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      {{resource.name}}
    </mat-cell>
  </ng-container>

  <!-- Info -->
  <ng-container matColumnDef="info">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'resource_info' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      <div *ngIf="resource.fsNode?.size != null">
        {{resource.fsNode.size | flByteText}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Tags -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef class="g-column-width-2">
      <span> {{'tags' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="g-column-width-2 tags">
      <fl-tag-list [tags]="resource.tags" [limitNumber]="6"></fl-tag-list>
    </mat-cell>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="action-column">
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="action-column">

      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventPropagation($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item type="button" *ngIf="resource.isDownloadable()"
                (click)="downloadFile(resource)">
          <mat-icon>cloud_download</mat-icon>
          <span>{{'biox.file_resource_download' | translate}}</span>
        </button>

        <button mat-menu-item type="button" *ngIf="resource.isImportable"
                (click)="openImportResource(resource)">
          <mat-icon>system_update_alt</mat-icon>
          <span>{{'biox.import_resource' | translate}}</span>
        </button>

        <button mat-menu-item type="button" (click)="openTagFormDialog(resource)">
          <mat-icon>local_offer</mat-icon>
          <span>{{'update_tags' | translate }}</span>
        </button>

        <button mat-menu-item type="button" (click)="updateResourceType(resource)"
                *ngIf="resource.isUpdatable()">
          <mat-icon>edit</mat-icon>
          <span>{{'biox.update_resource_type' | translate}}</span>
        </button>

        <button mat-menu-item type="button" (click)="deleteResource(resource)" class="g-warn-text"
                *ngIf="resource.isDeletable()">
          <mat-icon color="warn">delete</mat-icon>
          <span>{{'databox.delete_resource' | translate}}</span>
        </button>
      </mat-menu>


    </mat-cell>
  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      <p>{{column.columnName | translate}}</p>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <div>
        <span>{{user[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>

  <!-- Mode selectable -->
  <ng-container *ngIf="selectableRow; else notSelectable">
    <mat-row *matRowDef="let row; columns: _columns;" class="g-table-row-selectable"
             (click)="rowClicked(row)"></mat-row>
  </ng-container>

  <!-- Mode link -->
  <ng-template #notSelectable>
    <mat-row *matRowDef="let row; columns: _columns;" class="g-table-row-selectable"
             [routerLink]="row | labDetailRoute"></mat-row>
  </ng-template>
</mat-table>

