
.advanced-config{
  margin-top: 1em;
  background-color: var(--main-background);
}


.save-button{
  margin-top: 1em;
}

.button{
  color: var(--color-foreground);
}

.glab-override{
  margin-top: 1em;
}
