<fl-async-section [arrayObs]="users">

  <fl-section-header class="g-page-title">
    <fl-text-icon>
      <mat-icon class="g-icon-big">people</mat-icon>
      <h2>{{'organization_users' | translate}}</h2>
    </fl-text-icon>

    <fl-section-actions>
      <button mat-flat-button type="button" color="accent" *caIsAdmin
              class="g-button-small" [matTooltip]="'organization_add_user' | translate"
              (click)="openAddUserDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </fl-section-actions>

  </fl-section-header>

  <ng-container *flSectionBody>
    <fl-card>
      <fl-card-body class="limit-height" (flInfiniteScroll)="loadMoreResults()"
                    [flInfiniteDisabled]="users.isLoading || users.page?.last">
        <ca-organization-user-table [datasource]="users" [columns]="displayedColumns"
                                    (removeUser)="openRemoveUserDialog($event)"
                                    (deactivateUser)="openDeactivateUserDialog($event)"
                                    (activateUser)="openActivateUser($event)"
                                    (updateRole)="openUpdateRoleDialog($event)">
        </ca-organization-user-table>
      </fl-card-body>
    </fl-card>
  </ng-container>


</fl-async-section>
