.status {
  margin-top: 1em;
  margin-bottom: 1em;
}

.status-action-button{
  margin-left: 1em;
}

.actions-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.warning-text{
  margin-bottom: 1em;
}
