<div *ngIf="project$ | async; let project">

  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
      <ca-project-icon [project]="project"></ca-project-icon>
      <h1>{{project.code}}</h1>
    </div>

    <!--   Settings menu   -->
    <ca-project-actions-menu [project]="project" [projectUsers$]="projectUsers$"
                             (projectUpdated)="onProjectUpdated($event)"
                             (childProjectCreated)="onChildCreated($event)"
                             class="actions-button"></ca-project-actions-menu>
  </div>

  <h2 class="project-title">{{project.title}}</h2>

  <div class="project-info">
    <fl-text-icon>
      <mat-icon class="g-text-light">person</mat-icon>
      <div>
        <span class="g-text-light">{{'project_leader' | translate}}</span> :
        <ca-user-inline [user]="project.leader" class="inline-block"></ca-user-inline>
      </div>
    </fl-text-icon>

    <fl-text-icon class="g-text-light">
      <mat-icon>date_range</mat-icon>
      <fl-date-range [startingDate]="project.startingDate" [endingDate]="project.endingDate">
      </fl-date-range>
    </fl-text-icon>
  </div>


  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" class="g-section">

    <ca-project-users [projectId$]="projectId$"></ca-project-users>

    <ng-container *ngIf="rightPanelState$ | async as rightPanel">
      <button mat-icon-button type="button" (click)="showDescription()"
              [matTooltip]="'show_project_description' | translate"
              class="g-primary-button-icon-border"
              [ngClass]="{'panel-button-selected': rightPanel.type === 'description'}">
        <mat-icon>description</mat-icon>
      </button>
      <button mat-icon-button type="button" (click)="showComments()"
              [matTooltip]="'show_project_comments' | translate"
              class="g-primary-button-icon-border"
              [ngClass]="{'panel-button-selected': rightPanel.type === 'comments'}">
        <mat-icon>comment</mat-icon>
      </button>
    </ng-container>

  </div>

  <ca-project-shared-groups-list [projectId]="project.id" class="g-section"
                                 [canEdit]="project.isRoot()"></ca-project-shared-groups-list>

</div>
