<div *ngIf="project$ | async; let project">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
      <ca-project-icon [project]="project"></ca-project-icon>
      <h1>{{project.code}}</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">

      <button mat-icon-button type="button" (click)="showComments()"
              [matTooltip]="'show_project_comments' | translate">
        <mat-icon>comment</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="showDescription()"
              [matTooltip]="'show_project_description' | translate">
        <mat-icon>description</mat-icon>
      </button>

      <ca-project-users [projectId$]="projectId$"></ca-project-users>

      <fl-status-chip class="status" [status]="project.currentStatus.status"></fl-status-chip>

      <!--   Settings menu   -->
      <ca-project-actions-menu [project]="project" [projectUsers$]="projectUsers$"
                               (projectUpdated)="onProjectUpdated($event)"
                               (childProjectCreated)="onChildCreated($event)"></ca-project-actions-menu>
    </div>
  </div>


  <fl-card>
    <fl-card-header>
      <h2>{{project.title}}</h2>
    </fl-card-header>

    <fl-card-body>
      <fl-text-icon class="dates">
        <mat-icon>date_range</mat-icon>
        <fl-date-range [startingDate]="project.startingDate" [endingDate]="project.endingDate">
        </fl-date-range>
      </fl-text-icon>

      <div>
        {{'project_leader' | translate}} :
        <ca-user-inline [user]="project.leader" class="inline-block"></ca-user-inline>
      </div>

      <!--      <div class="description">-->
      <!--        <div *ngIf="project.description; else noDesc" [innerHTML]="project.description"></div>-->
      <!--        <ng-template #noDesc>-->
      <!--          <fl-error-text [errorMessage]="'no_description' | translate"></fl-error-text>-->
      <!--        </ng-template>-->
      <!--      </div>-->

      <ca-project-shared-groups-list [projectId]="project.id"
                                     [canEdit]="project.isRoot()"></ca-project-shared-groups-list>

    </fl-card-body>
  </fl-card>


  <!--    &lt;!&ndash;  List the shared groups  &ndash;&gt;-->
  <!--    <ca-project-shared-groups-list fxFlex="30%" [projectId]="project.id"></ca-project-shared-groups-list>-->

</div>
