<div *ngIf="project$ | async; let project">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <fl-text-icon>
      <mat-icon class="g-icon-big" flIcon="project"></mat-icon>
      <h1>{{project.code}}</h1>
    </fl-text-icon>

    <div fxLayout="row" fxLayoutAlign="start center">

      <button mat-icon-button type="button" (click)="showComments()"
              [matTooltip]="'show_project_comments' | translate">
        <mat-icon>comment</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="showDescription()"
              [matTooltip]="'show_project_description' | translate">
        <mat-icon>description</mat-icon>
      </button>

      <ca-project-users [projectId$]="projectId$"></ca-project-users>

      <fl-status-chip class="status" [status]="project.currentStatus.status"></fl-status-chip>

      <!--   Settings menu   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item type="button"
                *ngIf="project.canHaveChildren()"
                (click)="openChildCreation(project)">
          <mat-icon>add</mat-icon>
          <span>{{'new_sub_project' | translate}}</span>
        </button>

        <button mat-menu-item type="button" (click)="openStatusHistory(project)">
          <mat-icon>history</mat-icon>
          <span>{{'status_history' | translate}}</span>
        </button>

        <button mat-menu-item type="button" (click)="openUpdateStatusDialog(project)">
          <mat-icon>edit</mat-icon>
          <span>{{'update_status' | translate}}</span>
        </button>

        <button mat-menu-item type="button" (click)="openUpdateProjectDialog(project)">
          <mat-icon>edit</mat-icon>
          <span>{{'edit' | translate}}</span>
        </button>

        <button mat-menu-item type="button" (click)="openUpdateProjectLeaderDialog(project)">
          <mat-icon>person</mat-icon>
          <span>{{'change_project_leader' | translate}}</span>
        </button>

      </mat-menu>
    </div>
  </div>


  <fl-card>
    <fl-card-header>
      <h2>{{project.title}}</h2>
    </fl-card-header>

    <fl-card-body>
      <fl-text-icon class="dates">
        <mat-icon>date_range</mat-icon>
        <fl-date-range [startingDate]="project.startingDate" [endingDate]="project.endingDate">
        </fl-date-range>
      </fl-text-icon>

      <div>
        {{'project_leader' | translate}} :
        <ca-user-inline [user]="project.leader" class="inline-block"></ca-user-inline>
      </div>

      <!--      <div class="description">-->
      <!--        <div *ngIf="project.description; else noDesc" [innerHTML]="project.description"></div>-->
      <!--        <ng-template #noDesc>-->
      <!--          <fl-error-text [errorMessage]="'no_description' | translate"></fl-error-text>-->
      <!--        </ng-template>-->
      <!--      </div>-->

      <ca-project-shared-groups-list [projectId]="project.id"
                                     [canEdit]="project.isRoot()"></ca-project-shared-groups-list>

    </fl-card-body>
  </fl-card>


  <!--    &lt;!&ndash;  List the shared groups  &ndash;&gt;-->
  <!--    <ca-project-shared-groups-list fxFlex="30%" [projectId]="project.id"></ca-project-shared-groups-list>-->

</div>
