
.project-title {
  margin-top: 0.5em;
}

.project-info {
  margin-top: 0.5em;
}


.project-leader{
  margin-top: 0.5em;
}

.project-leader-title{
  flex-shrink: 0;
}

.project-leader-user{
  // prevent name overflow
  min-width: 0;
}

.dates{
  margin-top: 1em;
}

.actions-button {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.panel-button-selected {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}


