<div fxLayout="row">

  <div class="dashboard-left" fxFill fxFlex="nogrow">
    <div fxLayout="row" fxLayoutAlign="start end" class="g-page-title">
      <h1>{{'welcome_message' | translate:{firstname: authenticatedUser.firstname} }}</h1>
      <div class="date g-text-small g-text-light">
        {{currentDate | date:'EEEE MMMM d, y'}}
      </div>
    </div>

    <!-- My project list -->
    <div class="section">
      <ca-dashboard-projects></ca-dashboard-projects>
    </div>

    <!-- Lab Instances -->
    <div class="section">
      <ca-dashboard-lab-instances></ca-dashboard-lab-instances>
    </div>

    <!-- My Teams -->
    <div class="section">
      <ca-dashboard-groups></ca-dashboard-groups>
    </div>

    <!-- SmartDb -->
    <div class="section">
      <ca-dashboard-smart-dbs></ca-dashboard-smart-dbs>
    </div>
  </div>

  <div class="dashboard-right"  fxFlex>

    <div class="bt">
      <button mat-flat-button color="accent">Ticket</button>
      <button mat-flat-button color="accent">Hub</button>
    </div>

    <!-- My Activity  -->
    <div class="rs-section">
      <ca-dashboard-my-activity></ca-dashboard-my-activity>
    </div>

    <!-- Task of the day -->
    <div class="rs-section">
      <ca-dashboard-task-of-the-day></ca-dashboard-task-of-the-day>
    </div>

  </div>

</div>
