<div fxLayout="column" fxLayout.gt-sm="row">

  <div class="dashboard-left" fxFill fxFlex="nogrow">
    <div fxLayout="row" fxLayoutAlign="start end" class="g-page-title">
      <h1>{{'welcome_message' | translate:{firstname: authenticatedUser.firstname} }}</h1>
      <div class="date g-text-small g-text-light">
        {{currentDate | date:'EEEE MMMM d, y'}}
      </div>
    </div>

    <!-- My project list -->
    <div class="section">
      <ca-dashboard-projects></ca-dashboard-projects>
    </div>

    <!-- Lab Instances -->
    <div class="section">
      <ca-dashboard-lab-instances></ca-dashboard-lab-instances>
    </div>

    <!-- My Teams -->
    <div class="section">
      <ca-dashboard-groups></ca-dashboard-groups>
    </div>

    <!-- SmartDb -->
    <div class="section">
      <ca-dashboard-smart-dbs></ca-dashboard-smart-dbs>
    </div>
  </div>

  <div class="dashboard-right" fxFlex>

    <div class="bt">
      <div class="bt-div-text">
        <a href="mailto:clientsuccess@gencovery.com">
          <div class="link-bt g-primary-background">
            <mat-icon class="g-icon-huge icon" fontSet="material-icons-outlined">help</mat-icon>
          </div>
        </a>
        <a class="link">{{'support' | translate}}</a>
      </div>

      <div class="bt-div-text">
        <a [href]="hubLink">
          <div class="link-bt g-primary-background">
            <mat-icon class="g-icon-big icon" fontSet="material-icons-outlined">hub</mat-icon>
          </div>
        </a>
        <a [href]="hubLink" class="link">{{'hub' | translate}}</a>
      </div>
    </div>

    <!-- My Activity  -->
    <div class="r-section">
      <ca-dashboard-my-activity></ca-dashboard-my-activity>
    </div>

    <!-- Last experiences -->
    <div class="r-section">
      <ca-dashboard-last-experiments></ca-dashboard-last-experiments>
    </div>

    <!-- Task of the day -->
    <div class="r-section">
      <ca-dashboard-task-of-the-day></ca-dashboard-task-of-the-day>
    </div>


  </div>

</div>
