.date {
  margin-left: 1em;
  line-height: 2em;
}

.dashboard-left{
}

.dashboard-right{
  margin-top: -2.9em;
  min-width: 30%;
}

.section{
  margin-bottom: 2em;
  width: auto;
}

.bt{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.link-bt{
  height: 5em;
  width: 5em;
  border-radius: 1em;
}

.bt-div-text{
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rs-section{
  margin: 1em 0 ;
}

.link{
  color: var(--primary-color);
}

.icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
