<div>

  <div fxLayout="row" fxLayoutAlign="start end" class="g-page-title">
    <h1>{{'welcome_message' | translate:{firstname: authenticatedUser.firstname} }}</h1>
    <div class="date g-text-small g-text-light">
      {{currentDate | date:'EEEE MMMM d, y'}}
    </div>
  </div>

  <!-- My project list -->
  <div class="section">
    <ca-dashboard-projects></ca-dashboard-projects>
  </div>

  <!-- Lab Instances -->
  <div class="section">
    <ca-dashboard-lab-instances></ca-dashboard-lab-instances>
  </div>
</div>
