:host {
  display: block;
}

.title {
  cursor: pointer;
}

.title:hover {
  text-decoration: underline;
}

::ng-deep {
  ca-smart-db-search-doc-result mark {
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-radius: 5px;
    background-color: #bdb45d;
  }
}
