<ng-container *ngFor="let title of docTitles; let i = index">
  <ng-container *ngIf="title.level === 2; else e">
    <a [routerLink]="'.'" [fragment]="title.id" *ngIf="title.id" class="title main-title small-text">{{title.title}}</a>
    <a [routerLink]="'.'" *ngIf="!title.id" class="title main-title small-text">{{title.title}}</a>
  </ng-container>
  <ng-template #e>
    <a [routerLink]="'.'" [fragment]="title.id" *ngIf="title.id" class="title secondary-title small-text">{{title.title}}</a>
    <a [routerLink]="'.'" *ngIf="!title.id" class="title secondary-title small-text">{{title.title}}</a>
  </ng-template>
</ng-container>
