<fl-portal class="portal" flResize="both" flPortalZIndex [style.width]="width" [style.height]="height">
  <fl-portal-header [enableDrag]="true">
    <div class="title">{{labView.viewConfig.title}}</div>
    <fl-tag-list [tags]="labView.viewConfig.tags" [tagSelectable]="false" class="g-text-small"></fl-tag-list>

    <fl-portal-header-buttons>

      <a [routerLink]="labView.viewConfig | labDetailRoute" mat-icon-button target="_blank"
         [matTooltip]="'biox.open_view_in_new_tab' | translate">
        <mat-icon>open_in_new</mat-icon>
      </a>

      <fl-resize-portal-fullscreen-button></fl-resize-portal-fullscreen-button>

      <lab-flag-button *ngIf="labView.viewConfig" [entity]="labView.viewConfig"></lab-flag-button>

      <lab-view-config-actions-menu [viewConfig]="labView.viewConfig"
                                    (update)="onUpdate($event)"
                                    (updateTags)="onTagUpdate($event)"></lab-view-config-actions-menu>


      <rv-technical-info-button [technicalInfo]="labView.view.technical_info"></rv-technical-info-button>
    </fl-portal-header-buttons>
  </fl-portal-header>

  <fl-portal-content>
    <rv-resource-view [view]="labView.view" [config]="rvConfig" [resourceId]="labView.resourceId"
                      [displayMode]="'portal'" [contextMenuItems]="contextMenuItems">
    </rv-resource-view>
  </fl-portal-content>
</fl-portal>
