<fl-portal class="portal" flResize="both">
  <fl-portal-header [enableDrag]="true">
    <fl-portal-header-buttons>
      <fl-resize-portal-fullscreen-button></fl-resize-portal-fullscreen-button>
    </fl-portal-header-buttons>
  </fl-portal-header>

  <fl-portal-content>
    <lab-resource-view [view]="view" [config]="config" [resourceId]="resourceId" [displayMode]="'portal'"
                            [style.width]="width" [style.height]="height"></lab-resource-view>
  </fl-portal-content>
</fl-portal>
