<div class="g-page">

  <fl-async-section [object]="organization$">

    <ng-container *flSectionBody="let organization">
      <ca-current-organization-detail></ca-current-organization-detail>

      <ca-organization-users-list [organizationId]="organization.id" class="g-section">

      </ca-organization-users-list>

      <!--  Admin section    -->
      <ng-container *caIsOrganizationAdmin>
        <ca-organization-invit-list
          [organizationId]="organization.id" class="g-section">
        </ca-organization-invit-list>

        <ca-current-orga-lab-instances-list class="g-section">
        </ca-current-orga-lab-instances-list>

        <ca-current-orga-projects-list class="g-section">
        </ca-current-orga-projects-list>

        <ca-current-orga-teams-list class="g-section">
        </ca-current-orga-teams-list>
      </ng-container>
    </ng-container>
  </fl-async-section>
</div>
