<div class="g-page">

  <fl-async-section [arrayObs]="labsArrays" emptyText="no_lab_instance">

    <fl-section-header class="g-page-title">
      <fl-text-icon iconPosition="start">
        <mat-icon class="g-icon-big">view_list</mat-icon>
        <h1>{{'labs_catalog' | translate}}</h1>
      </fl-text-icon>

      <fl-section-actions>
        <button mat-flat-button type="button" color="accent"
                class="g-button-small" (click)="openCreateLabDialog()">
          <mat-icon>add</mat-icon>
        </button>

      </fl-section-actions>
    </fl-section-header>

    <ng-container *flSectionBody>
      <ca-lab-table [datasource]="labsArrays" [columns]="columns"></ca-lab-table>
    </ng-container>

  </fl-async-section>

</div>
