<div *ngIf="lastExperiments">
  <fl-section-header class="g-headline">
    <div>
      <fl-text-icon iconPosition="start">
        <mat-icon class="g-icon-big" flIcon="experiment"></mat-icon>
        <h2>{{'last_experiments' | translate}}</h2>
      </fl-text-icon>
    </div>
  </fl-section-header>
  <fl-card class="card">
    <fl-card-body *ngIf="lastExperiments.length > 0; else noExperiences">
      <a *ngFor="let experiment of lastExperiments" [routerLink]="getExperimentDetailRoute(experiment.projectId, experiment.id)">
        <div  class="experiment-div g-primary-background">
          <div class="experiment-icon">
            <mat-icon [flIcon]="experiment.status.icon"></mat-icon>
          </div>
          <div class="experiment-title-project">
            <div class="experiment-title">
              {{experiment.title}}
            </div>
            <div class="experiment-project">
              <fl-text-icon>
                <mat-icon [flIcon]="'project'"></mat-icon>
                <p>{{experiment.project.title}}</p>
              </fl-text-icon>
            </div>

          </div>
          <div class="experiment-date">
            <fl-from-now [date]="experiment.lastModifiedAt"></fl-from-now>
          </div>
        </div>
      </a>
    </fl-card-body>
    <ng-template #noExperiences>
      <fl-card-body>
        <p>{{'no_experiences' | translate}}</p>
      </fl-card-body>
    </ng-template>
  </fl-card>
</div>
