.experiment-div{
  display: flex;
  flex-direction: row;
  height: 5em;
  width: 94%;
  margin: 1em 3%;
  border-radius: 1em;
  align-items: center;
}

.experiment-icon{
  width: 15%;
  padding-top: 0.1em;
  text-align: center;
}

.experiment-title-project{
  width: 60%;
  font-weight: bold;
}

.experiment-title{
  font-size: 1.2em;
}

.experiment-project{
  font-size: 0.9em;
}

.experiment-date{
  width: 25%;
  font-size: 0.9em;
  color: var(--grey-low-contrast);
}
